.page-container {
  padding-bottom: 40px;
  .group-container.swap {
    position: relative;
    margin: 0 auto;
    margin-top: 40px;
    width: 1000px;
    background: #1e1e1e;
    border-radius: 20px;
    font-family: "fontRegular";
    padding: 50px 40px 20px;
    .input-token-error {
      position: absolute;
      top: -10px;
      left: 50%;
      margin-left: -150px;
      width: 300px;
      min-height: 50px;
      background: #cd4242b3;
      border-radius: 10px;
      font-family: "fontRegular";
      text-align: center;
      line-height: 20px;
      padding: 15px 5px;
      z-index: 99;
    }
    .token-select-container {
      margin-bottom: 20px;
      position: relative;
      display: flex;
      border-radius: 20px;
      background-color: #2a2a2a;
      .input-container {
        display: flex;
        align-items: center;
        flex: 1;
        text-align: right;
        font-size: 22px;
        border-radius: 10px;
        input {
          width: 100%;
          height: 30px;
          border: none;
          color: #fff;
          text-align: right;
          &::placeholder {
            color: #4a4a4a;
          }
          &.focus {
            background: #2b312d;
            border: 1px solid #46b069;
          }
        }
      }
      span.token-type {
        margin-left: 4px;
        height: 18px;
        line-height: 18px;
        padding: 0 3px;
        border-radius: 4px;
        font-size: 10px;
        &.ETH {
          background: #459ffb1a;
          color: #459ffb;
        }
        &.BSC {
          background: #f0b90b1a;
          color: #f0b90b;
        }
        &.HECO {
          color: #008cd6;
          background: #008cd61a;
        }
      }
      img.transform {
        position: absolute;
        top: 50%;
        right: 50%;
        width: 45px;
        height: 45px;
        cursor: pointer;
        transform: translate(50%, -50%) rotate(90deg);
      }
      .left-container,
      .right-container {
        width: 50%;
        padding: 25px 0;
        padding-left: 30px;
        padding-right: 50px;
        flex: 1;
        height: 140px;
        .header {
          height: 18px;
          display: flex;
          justify-content: space-between;
          color: #8aa1a1;
          span.max {
            color: #6162ef;
            cursor: pointer;
          }
        }
        .content {
          display: flex;
          align-items: center;
          margin-top: 8px;
          div.token-name {
            z-index: 99;
            display: flex;
            align-items: center;
            font-size: 18px;
            color: #4a4a4a;
            cursor: pointer;
            width: 180px;
            height: 52px;
            transform: translateX(-20px);
            padding-left: 20px;
            border-radius: 10px;
            position: relative;
            border: 1px solid transparent;
            ul.dropdown {
              cursor: default;
              position: absolute;
              top: 57px;
              left: 0;
              width: 180px;
              background: #2a2a2a;
              border: 1px solid #353535;
              border-radius: 10px;
              li {
                cursor: pointer;
                height: 52px;
                line-height: 52px;
                padding-left: 15px;
                font-size: 18px;
                display: flex;
                align-items: center;
                color: #dee1e1;
                &.disabled {
                  opacity: 0.5;
                  cursor: default;
                  pointer-events: none;
                }
                img {
                  width: 32px;
                  height: 32px;
                  margin-right: 10px;
                }
                &:hover {
                  color: #46b069;
                }
              }
            }
            &:hover {
              background: #2a2a2a;
              border: 1px solid #ffffff0d;
            }
            &.active {
              color: #fff;
            }
            img.arrow {
              width: 12px;
              margin-left: 14px;
            }
            img.token-logo {
              margin-right: 16px;
              width: 32px;
            }
          }
          .token-amount {
            width: 250px;
            flex: 1;
            text-align: right;
            font-size: 22px;
          }
        }
        .asset {
          text-align: right;
          color: #4a4a4a;
        }
      }
      .right-container {
        padding-left: 50px;
        padding-right: 30px;
        background: #303030;
        border-radius: 20px;
        .content .token-amount {
          color: #8aa1a1;
        }
      }
    }
    .detail {
      display: flex;
      .address {
        display: inline-flex;
        width: 220px;
        img {
          width: 14px;
          height: 14px;
          margin-right: 4px;
        }
      }
      color: #8aa1a1;
      span {
        margin-left: 8px;
        color: #46b069;
      }
      &:not(:first-child) {
        margin-top: 8px;
      }
    }
    .swap-confirm {
      text-align: center;
      margin-top: 30px;
      z-index: 1;
      .swap-btn {
        opacity: 0.5;
        cursor: default;
        pointer-events: none;
        &.active {
          box-shadow: 0px 20px 50px 0px rgba(70, 176, 105, 0.1);
          cursor: pointer;
          opacity: 1;
          pointer-events: auto;
        }
      }
    }
  }
}

.mobile-title {
  display: none;
}
