<section class="page-container">
  <div class="group-container row1">
    <div class="item">
      <div class="header">
        BLP <span>BALANCE</span>
      </div>
      <div class="content">
        <div class="value">
          <span class="amount">1.67376139</span>
          <span class="rate">≈￥1.67376139</span>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="header">
        BLP <span>STAKED</span>
      </div>
      <div class="content">
        <div class="value">
          <span class="amount">- -</span>
          <span class="rate">≈￥0.0</span>
        </div>
        <div class="btn-primary receive-btn">
          APPROVE
        </div>
      </div>
    </div>
    <div class="item">
      <div class="header">
        BLP <span>EARNED</span>
      </div>
      <div class="content">
        <div class="value">
          <span class="amount">- -</span>
          <span class="rate">≈￥0.0</span>
        </div>
        <div class="btn-primary receive-btn">
          HARVEST
        </div>
      </div>
    </div>
  </div>
  <div class="group-container tab-container row2">
    <div class="tab-wrap">
      <div class="tab-nav-scroll">
          <div
            class="tabs tabs-add"
            [ngClass]="{addActive: liquidityType === 'add'}"
            (click)="changeLiquidityType('add')"
          >
            Add Liquidity
          </div>
          <div
            class="tabs tabs-remove"
            [ngClass]="{removeActive: liquidityType === 'remove'}"
            (click)="changeLiquidityType('remove')"
          >
            Remove Liquidity
          </div>
      </div>
      <div class="tab-content">
        <ul class="list-wrap">
          <li>
            <div class="detail">
              <div class="left">
                <img src="" alt="" class="token-logo">
                <div class="token-name">nUSDT</div>
              </div>
              <div class="right">
                <div class="input-container">
                  <input type="number" (input)="changeInputAmount($event)" [ngModel]="inputAmount" placeholder="0.0">
                </div>
                <div class="max-status">MAX</div>
                <div class="balance">
                  <span>Balance</span>1000
                </div>
              </div>
            </div>
            <div class="btn-primary btn-liquidity">
              Deposit
            </div>
          </li>
          <li>
            <div class="detail">
              <div class="left">
                <img src="" alt="" class="token-logo">
                <div class="token-name">nUSDT</div>
              </div>
              <div class="right">
                <div class="input-container">
                  <input type="number" (input)="changeInputAmount($event)" [ngModel]="inputAmount" placeholder="0.0">
                </div>
                <div class="max-status">MAX</div>
                <div class="balance">
                  <span>Balance</span>1000
                </div>
              </div>
            </div>
            <div class="btn-primary btn-liquidity">
              Deposit
            </div>
          </li>
        </ul>
        <div class="btn-primary big-btn" [ngClass]="{active: liquidityType === 'add'}">Add Liquidity</div>
        <div class="btn-primary remove-btn big-btn" [ngClass]="{active: liquidityType === 'remove'}">Remove Liquidity</div>
      </div>
    </div>
  </div>
  <div class="group-container blp-detail row2">
    <div class="left">
      <div class="item-list">
        DAI+USDC+USDT:<span class="value">986,389,258.14</span>
      </div>
      <div class="item-list">
        <div>DAI: <span class="value">986,389,258.14</span> (30.1%)</div>
      </div>
      <div class="progress-container">
        <nz-progress class="progress" [nzPercent]="swapProgress" [nzShowInfo]="false" nzStrokeWidth="6" nzStrokeColor="#46B069">
        </nz-progress>
      </div>
      <div class="item-list">
        <div>USDC: <span class="value">986,389,258.14</span> (30.1%)</div>
      </div>
      <div class="progress-container">
        <nz-progress class="progress" [nzPercent]="swapProgress" [nzShowInfo]="false" nzStrokeWidth="6" nzStrokeColor="#46B069">
        </nz-progress>
      </div>
      <div class="item-list">
        <div>USDT: <span class="value">986,389,258.14</span> (30.1%)</div>
      </div>
      <div class="progress-container">
        <nz-progress class="progress" [nzPercent]="swapProgress" [nzShowInfo]="false" nzStrokeWidth="6" nzStrokeColor="#46B069">
        </nz-progress>
      </div>
    </div>
    <div class="right">
      <div class="item-list">
        <span class="name">Receive</span>
        <span class="value">0.0</span>
      </div>
      <div class="item-list">
        <span class="name">Price impact</span>
        <span class="value">0.0</span>
      </div>
      <div class="item-list">
        <span class="name">Max slippage</span>
        <span class="value">0.0</span>
      </div>
    </div>
  </div>
</section>
