<section class="page-container">
  <div class="group-container row1">
    <div class="item">
      <div class="header">
        {{LPToken ? LPToken.symbol : '--' }} <span>BALANCE</span>
      </div>
      <div class="content">
        <div class="value">
          <span class="amount">{{LPToken ?  LPToken.amount : '--' }}</span>
          <span class="rate">--</span>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="header">
        {{LPToken ? LPToken.symbol : '--' }} <span>STAKED</span>
      </div>
      <div class="content">
        <div class="value">
          <span class="amount">- -</span>
          <span class="rate">≈￥0.0</span>
        </div>
        <div class="btn-primary receive-btn">
          APPROVE
        </div>
      </div>
    </div>
    <div class="item">
      <div class="header">
        {{LPToken ? LPToken.symbol : '--' }} <span>EARNED</span>
      </div>
      <div class="content">
        <div class="value">
          <span class="amount">- -</span>
          <span class="rate">≈￥0.0</span>
        </div>
        <div class="btn-primary receive-btn">
          HARVEST
        </div>
      </div>
    </div>
  </div>
  <div class="group-container tab-container row2">
    <div class="tab-wrap">
      <div class="tab-nav-scroll">
        <div
          class="tabs tabs-add"
          [ngClass]="{addActive: liquidityType === 'add'}"
          [routerLink]="['/hub/liquidity', 'add']">
            Add Liquidity
        </div>
        <div
          class="tabs tabs-remove"
          [ngClass]="{removeActive: liquidityType === 'remove'}"
          [routerLink]="['/hub/liquidity', 'remove']">
            Remove Liquidity
        </div>
      </div>
      <div class="tab-content">
        <ul class="list-wrap">
          <li *ngFor="let tokenItem  of addLiquidityTokens; let i = index ">
            <div class="detail">
              <div class="left">
                <img src="" alt="" class="token-logo">
                <div class="token-name">{{ tokenItem.symbol }}</div>
              </div>
              <div class="right">
                <div class="input-container">
                  <input type="number" [disabled]="!(tokenItem['amount'] > 0)" [(ngModel)]="inputAmount[i]" placeholder="0.0">
                </div>
                <div
                  class="max-status"
                  [ngClass]="{active: tokenItem.amount === inputAmount[i]}"
                  (click)="inputAmount[i] = tokenItem.amount">MAX</div>
                <div class="balance">
                  <span>Balance</span>
                  <span
                    nz-tooltip
                    nzTooltipPlacement="bottom"
                    [nzTooltipTitle]="tokenItem.amount"
                    *ngIf="tokenItem.amount.length > 13">{{ wordlimit(tokenItem.amount) }}</span>
                  <span *ngIf="tokenItem.amount.length <= 13">{{ tokenItem.amount }}</span>
                </div>
              </div>
            </div>
            <div class="btn-primary btn-liquidity"
              (click)="liquidityType === 'add' ? depost(tokenItem, i) : withdrawal(tokenItem, i)">
              {{ liquidityType == 'add' ? 'Deposit' : 'Withdrawal' }}
            </div>
          </li>
        </ul>
        <!-- <div class="btn-primary big-btn" [ngClass]="{active: liquidityType === 'add'}">Add Liquidity</div>
        <div class="btn-primary remove-btn big-btn" [ngClass]="{active: liquidityType === 'remove'}">Remove Liquidity
        </div> -->
      </div>
    </div>
  </div>
  <div class="group-container blp-detail row2">
    <div class="left">
      <div class="item-list">
        DAI+USDC+USDT:<span class="value">986,389,258.14</span>
      </div>
      <div class="item-list">
        <div>DAI: <span class="value">986,389,258.14</span> (30.1%)</div>
      </div>
      <div class="progress-container">
        <nz-progress class="progress" [nzPercent]="swapProgress" [nzShowInfo]="false" nzStrokeWidth="6"
          nzStrokeColor="#46B069">
        </nz-progress>
      </div>
      <div class="item-list">
        <div>USDC: <span class="value">986,389,258.14</span> (30.1%)</div>
      </div>
      <div class="progress-container">
        <nz-progress class="progress" [nzPercent]="swapProgress" [nzShowInfo]="false" nzStrokeWidth="6"
          nzStrokeColor="#46B069">
        </nz-progress>
      </div>
      <div class="item-list">
        <div>USDT: <span class="value">986,389,258.14</span> (30.1%)</div>
      </div>
      <div class="progress-container">
        <nz-progress class="progress" [nzPercent]="swapProgress" [nzShowInfo]="false" nzStrokeWidth="6"
          nzStrokeColor="#46B069">
        </nz-progress>
      </div>
    </div>
    <div class="right">
      <div class="item-list">
        <span class="name">{{ liquidityType == 'add' ? 'Receive' : 'PayAmount' }}</span>
        <span class="value">0.0</span>
      </div>
      <div class="item-list">
        <span class="name">Price impact</span>
        <span class="value">0.0</span>
      </div>
      <div class="item-list">
        <span class="name">Max slippage</span>
        <span class="value">0.0</span>
      </div>
    </div>
  </div>
</section>
