<section class="page-container">
  <div class="group-container row1">
    <div class="item">
      <div class="header">
        {{LPToken ? LPToken.symbol : '--' }} <span>BALANCE</span>
      </div>
      <div class="content">
        <div class="value">
          <span class="amount">{{LPToken ? (LPToken.amount | number: '1.0-8') : '--' }}</span>
          <span class="rate">--</span>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="header">
        {{LPToken ? LPToken.symbol : '--' }} <span>STAKED</span>
      </div>
      <div class="content">
        <div class="value">
          <span class="amount">- -</span>
          <span class="rate">≈￥0.0</span>
        </div>
        <div class="btn-primary receive-btn">
          APPROVE
        </div>
      </div>
    </div>
    <div class="item">
      <div class="header">
        {{LPToken ? LPToken.symbol : '--' }} <span>EARNED</span>
      </div>
      <div class="content">
        <div class="value">
          <span class="amount">- -</span>
          <span class="rate">≈￥0.0</span>
        </div>
        <div class="btn-primary receive-btn">
          HARVEST
        </div>
      </div>
    </div>
  </div>
  <div class="group-container tab-container row2">
    <div class="tab-wrap">
      <div class="tab-nav-scroll">
        <div class="tabs tabs-add" [ngClass]="{addActive: liquidityType === 'add'}"
          [routerLink]="['/bridge/liquidity', 'add']">
          Add Liquidity
        </div>
        <div class="tabs tabs-remove" [ngClass]="{removeActive: liquidityType === 'remove'}"
          [routerLink]="['/bridge/liquidity', 'remove']">
          Remove Liquidity
        </div>
      </div>
      <div class="tab-content">
        <ul class="list-wrap">
          <ng-container *ngIf="liquidityType === 'add'">
            <li *ngFor="let tokenItem  of addLiquidityTokens; let i = index ">
              <div class="detail">
                <div class="left">
                  <img src="" alt="" class="token-logo">
                  <div class="token-name">{{ tokenItem.symbol }}</div>
                </div>
                <div class="right">
                  <div class="input-container">
                    <input type="number" (input)="changeInAmount(tokenItem, i)" [(ngModel)]="addLiquidityInputAmount[i]"
                      placeholder="0.0">
                  </div>
                  <div class="max-status" (click)="maxAddLiquidityInput(i)"
                    [ngClass]="{active: tokenItem.amount != '--'}">MAX</div>
                  <div class="balance" nz-tooltip [nzTooltipTitle]="tokenItem.amount">
                    <span>Balance</span><span>{{tokenItem.amount | transNumber}}</span>
                  </div>
                </div>
              </div>
              <div class="btn-primary btn-liquidity" (click)="depost(tokenItem, i)">
                Deposit
              </div>
            </li>
          </ng-container>
          <ng-container *ngIf="liquidityType !== 'add'">
            <li *ngFor="let tokenItem  of addLiquidityTokens; let i = index ">
              <div class="detail">
                <div class="left">
                  <img src="" alt="" class="token-logo">
                  <div class="token-name">{{ tokenItem.symbol }}</div>
                </div>
                <div class="right">
                  <div class="input-container">
                    <input type="number" (input)="changeOutAmount(tokenItem, i)"
                      [(ngModel)]="removeLiquidityInputAmount[i]" placeholder="0.0">
                  </div>
                  <div class="max-status" (click)="maxRemoveLiquidityInput(i)"
                    [ngClass]="{active: tokenItem.amount != '--'}">MAX</div>
                  <div class="balance" nz-tooltip [nzTooltipTitle]="tokenItem.amount">
                    <span>Balance</span><span>{{tokenItem.amount | transNumber}}</span>
                  </div>
                </div>
              </div>
              <div class="btn-primary btn-liquidity" (click)=" withdrawal(tokenItem, i)">
                Withdrawal
              </div>
            </li>
          </ng-container>

        </ul>
        <!-- <div class="btn-primary big-btn" [ngClass]="{active: liquidityType === 'add'}">Add Liquidity</div>
        <div class="btn-primary remove-btn big-btn" [ngClass]="{active: liquidityType === 'remove'}">Remove Liquidity
        </div> -->
      </div>
    </div>
  </div>
  <div class="group-container blp-detail row2">
    <div class="left">
      <div class="item-list">
        DAI+USDC+USDT:<span class="value">986,389,258.14</span>
      </div>
      <div class="item-list">
        <div>DAI: <span class="value">986,389,258.14</span> (30.1%)</div>
      </div>
      <div class="progress-container">
        <nz-progress class="progress" [nzPercent]="swapProgress" [nzShowInfo]="false" nzStrokeWidth="6"
          nzStrokeColor="#46B069">
        </nz-progress>
      </div>
      <div class="item-list">
        <div>USDC: <span class="value">986,389,258.14</span> (30.1%)</div>
      </div>
      <div class="progress-container">
        <nz-progress class="progress" [nzPercent]="swapProgress" [nzShowInfo]="false" nzStrokeWidth="6"
          nzStrokeColor="#46B069">
        </nz-progress>
      </div>
      <div class="item-list">
        <div>USDT: <span class="value">986,389,258.14</span> (30.1%)</div>
      </div>
      <div class="progress-container">
        <nz-progress class="progress" [nzPercent]="swapProgress" [nzShowInfo]="false" nzStrokeWidth="6"
          nzStrokeColor="#46B069">
        </nz-progress>
      </div>
    </div>
    <div class="right">
      <div class="item-list">
        <span class="name">{{ liquidityType == 'add' ? 'Receive' : 'PayAmount' }}</span>
        <span class="value">{{ liquidityType == 'add' ? receiveAmount : payAmount }}</span>
      </div>
      <div class="item-list">
        <span class="name">Max slippage</span>
        <span class="value">{{BRIDGE_SLIPVALUE}}%</span>
      </div>
    </div>
  </div>
</section>

<app-tx-progress txAtPage="liquidity"></app-tx-progress>
