section.wrapper {
  height: 360px;
  & > .title {
    padding: 30px 0 0 30px;
  }

  .token-amount-container {
    margin-top: 20px;
    padding: 0 30px;
    .content {
      padding: 0 20px 25px;
      background: #303030;
      border-radius: 20px;
      .top {
        font-size: 16px;
        font-weight: 400;
        color: #8AA1A1;
        line-height: 60px;
      }
      .asset {
        display: flex;
        align-items: center;
        &-img {
          width: 30px;
          height: 30px;
          background: #FFFFFF;
          opacity: 0.7;
          border-radius: 50%;
        }
        &-name {
          width: 88px;
          height: 60px;
          font-size: 16px;
          color: #8AA1A1;
          margin: 0 15px;
        }
        .amount {

          input {
            width: 100%;
            height: 50px;
            border-radius: 10px;
            padding: 0 20px;
            border: none;
            color: #fff;
            font-size: 16px;
            text-align: right;
            &::placeholder {
              color: #4a4a4a;
            }
            &.focus {
              background: #2b312d;
              border: 1px solid #46b069;
            }
          }
        }
      }
    }
  }
  .balance {
    padding: 0 40px;
    color: #8AA1A1;
    font-size: 14px;
    line-height: 50px;
  }
  .btn {
    margin: auto;
    width: 360px;
    height: 60px;
    background: #46B069;
    border-radius: 20px;
    font-size: 18px;
    font-weight: 500;
    color: #FFFFFF;
    line-height: 60px;
    text-align: center;
  }
}
