<section class="wrapper modal-content">
  <div class="close-group">
    <img (click)="close()" class="close" src="/assets/images/swap/close.png" alt="">
  </div>
  <p class="title">{{ 'Approve' | translate: lang:langPageName }}</p>
  <div class="content">
    <div class="approve-content">
      <img [src]="fromToken?.logo" alt="">
      <p class="title">{{ 'Approve' | translate: lang:langPageName }} {{ fromToken?.symbol }}</p>
      <div class="desc">
        {{ 'ApproveDesc' | translate: lang:langPageName }}
      </div>
    </div>
    <button class="approve" nz-button [nzLoading]="isApproveLoading"
      (click)="approve()">{{ 'Approve' | translate: lang:langPageName }}</button>
  </div>
</section>
