.tabs-add {
  cursor: not-allowed !important;
  &:hover {
    background: url("/assets/images/bridge-liquidity/defult.png") no-repeat !important;
  }
}
.btn-liquidity {
  font-family: "fontMedium";
  width: 90px;
  height: 50px;
  background: #2f2f3b;
  border-radius: 6px;
}
