<section class="wrapper modal-content">
  <div class="close-group">
    <img (click)="close()" class="close" src="/assets/images/swap/close.png" alt="">
  </div>
  <p class="title">Approve</p>
  <div class="content">
    <div class="approve-content">
      <img [src]="fromToken?.logo" alt="">
      <p class="title">Approve {{ fromToken?.symbol }}</p>
      <div class="desc">
        Approval is required for the transaction with a first-time contract call and a new address.
      </div>
    </div>
    <button class="approve" nz-button [nzLoading]="isApproveLoading" (click)="approve()">Approve</button>
  </div>
</section>
