<section class="page-container">
  <div class="detail">
    <div class="item-container row-1">
      <div class="item-group item-total">
        <div class="group-title">Available</div>
        <div class="group-content">9.31673761 O3</div>
        <div class="group-title">Available</div>
      </div>
      <div class="item-group">
        <div class="group-title">Available</div>
        <div class="group-content">9.31673761 O3</div>
        <div class="btn-primary receive-btn">Receive</div>
      </div>
      <div class="item-group">
        <div class="group-title">To be unlocked</div>
        <div class="group-content">9.31673761 O3</div>
        <div class="group-icon">
          <img nz-tooltip nzTooltipTitle="Coming soon..." nzTooltipPlacement="right"
            src="/assets/images/dashboard/doubt.png" alt="">
        </div>
      </div>
    </div>
    <div class="item-container row-2">
      <div class="list-container">
        <div class="list-head">
          <div class="list-head-title">Unlock zone</div>
          <div class="list-head-right">
            <p>
              <span class="name">Unlocked amount:</span>
              &nbsp;
              <span class="value">9.31673761 O3</span>
            </p>
            <p>
              <span class="name">Speed value: </span>
              &nbsp;
              <span class="value">8.60</span>
            </p>
          </div>
        </div>
        <div class="tran-list">
          <nz-table class="unlock-zone" nzAlign="center" nzTemplateMode [nzScroll]="{ x: '1200px', y: '500px' }">
            <thead>
              <tr>
                <th></th>
                <th>Name</th>
                <th>Staked</th>
                <th>Remaining</th>
                <th>Release value</th>
                <th>APY%</th>
                <th nzRight></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><img class="token-img" src="" alt=""></td>
                <td>Name</td>
                <td>Staked</td>
                <td>Remaining</td>
                <td>Release value</td>
                <td>APY%</td>
                <td nzRight >
                  <button class="btn-primary">
                    Stake
                  </button>
                  <button class="btn-primary unstake-btn">
                    Unstake
                  </button>
                </td>
              </tr>
            </tbody>
          </nz-table>
        </div>
      </div>
    </div>

    <div class="item-container row-3">
      <div class="left">
        <div class="title">
          <div class="name">
            LP Staking
          </div>
        </div>
        <div class="group-container">
          <div class="item-group">
            <div class="item-group-title">
              <div class="token"><img src="" alt="">pnUNI_V2_ETH_WBTC</div>
              <div class="right">
                <button class="btn-primary" (click)="showStake()">Stake</button>
                <button class="btn-primary unstake-btn">Unstake</button>
              </div>
            </div>
            <div class="detail-item">
              <div class="col">
                <div class="value">9.31673761</div>
                <div class="name">Staked</div>
              </div>
              <div class="col">
                <div class="value">9.31673761</div>
                <div class="name">Remaining</div>
              </div>
              <div class="col">
                <div class="value">9.31673761</div>
                <div class="name">Total Staking</div>
              </div>
              <div class="col">
                <div class="value">9.31673761</div>
                <div class="name">APY%</div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="right">
        <div class="title">
          <div class="name">
            O3 Staking
          </div>
        </div>
        <div class="group-container">
          <div class="item-group">
            <div class="name">
              <img src="" alt="" class="token-img">
              pnUSDT
            </div>
            <div class="detail-container">
              <div class="detail-item">
                <div class="value">9.31673761</div>
                <div class="name">Total Staking</div>
              </div>
              <div class="detail-item">
                <div class="value">9.31673761</div>
                <div class="name">APY%</div>
              </div>
            </div>
            <div class="stake">
              <span>Stake</span>
              <span>Unstake</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
