.page-container {
  margin: 0 auto;
  .title {
    margin-bottom: 20px;
    padding-left: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .name {
      height: 60px;
      line-height: 60px;
      font-size: 18px;
      position: relative;
      &::before {
        position: absolute;
        bottom: 2px;
        left: 0;
        content: "";
        width: 50px;
        height: 2px;
        background: #2ad8a0;
      }
    }
  }
  .item-container {
    display: flex;
    &.row-1 {
      margin-top: 40px;
    }
    &.row-2, &.row-3 {
      margin-top: 30px;
    }
    &:nth-child(1) {
      .item-group:nth-child(2) {
        margin: 0 10px;
      }
    }
    .list-container {
      width: 100%;
      background-color: #1e1e1e;
      border-radius: 20px;
      overflow: hidden;
      .list-head {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid rgba(255, 255, 255, 0.05);
        .list-head-title {
          font-weight: bold;
        }
        .list-head-right {
          display: flex;
        }
      }
    }
    & > .right {
      width: 320px;
      .item-group {
        width: 100%;
        height: 200px;
        padding: 20px;
        & > .name {
          .token-img {
            margin-right: 15px;
            width: 30px;
            height: 30px;
          }
          height: 30px;
          display: flex;
          align-items: center;
        }
        .detail-container {
          margin: 15px 0;
          .detail-item {
            position: relative;
            flex: 1;
            &:nth-child(1)::before {
              position: absolute;
              right: 0;
              top: 8px;
              content: "";
              display: block;
              width: 1px;
              height: 30px;
              background-color: #ffffff;
              opacity: 0.5;
            }
          }
          .value {
            font-size: 18px;
            color: #ffffff;
          }
          .name {
            margin-top: 10px;
            color: #8aa1a1;
          }
        }
        .stake {
          display: flex;
          background-color: #292929;
          border-radius: 10px;
          height: 50px;
          line-height: 50px;
          span {
            position: relative;
            flex: 1;
            color: #46b069;
            &:nth-child(1)::before {
              position: absolute;
              right: 0;
              top: 10px;
              content: "";
              display: block;
              width: 1px;
              height: 30px;
              background-color: #ffffff;
              opacity: 0.5;
            }
          }
        }
      }
    }
    .item-group {
      font-size: 14px;
      flex-direction: column;
      justify-content: center;
      display: flex;
      background-color: #1e1e1e;
      border-radius: 20px;
      .detail-container,
      .stake {
        display: flex;
        text-align: center;
      }
      .group-title {
        color: #8aa1a1;
        font-size: 14px;
      }
      .group-value {
        font-size: 18px;
        color: #ffffff;
      }
      .group-content {
        margin: 20px 0;
        font-size: 22px;
        color: #ffffff;
      }
      .group-icon {
        width: 20px;
        height: 20px;
      }
      &::nth-child(n + 1) {
        margin-left: 10px;
      }
    }
    .item-total {
      padding-left: 60px;
      background-color: #1e2621;
      .group-content {
        font-size: 30px;
        color: #46b069;
      }
    }
  }
}

.tran-list {
  width: 100%;
  text-align: left;
  background: #1e1e1e;
  .ant-table.ant-table-bordered > .ant-table-container {
    border: none !important;
  }
  .unlock-zone {
    tr:nth-child(even) {
      td {
        background-color: #252525;
      }
    }
    td,
    th {
      text-align: center;
      background: #1e1e1e;
      color: white;
      border-color: rgba(255, 255, 255, 0.05);
      .token-img {
        width: 30px;
        height: 30px;
      }
    }
  }
}

@media screen and (min-width: 801px) {
  .page-container {
    width: 1000px;
    .item-container.row-1 {
      flex-wrap: wrap;
      justify-content: space-between;
      .item-group {
        width: 260px;
        height: 180px;
        padding: 0 30px;
      }
      .item-total {
        margin-bottom: 10px;
        flex: 1;
      }
    }
    .item-container.row-2 {
      margin-top: 0px;
      .list-head {
        padding: 0 30px;
        font-size: 18px;
        height: 70px;
        align-items: center;
      }
      .list-head-right {
        justify-content: space-between;
        font-size: 14px;
        .name {
          margin: 0 10px 0 20px;
          color: #8aa1a1;
        }
      }
      .unlock-zone {
        button {
          width: calc(50% - 5px);
          &:nth-child(2) {
            margin-left: 10px;
          }
        }
      }
    }
    .item-container.row-3 {
      & > .left {
        flex: 1;
        margin-right: 30px;
        font-size: 14px;
        .right .unstake-btn {
          margin-left: 20px;
        }
        .detail-item {
          display: flex;
          margin-top: 15px;
          .col {
            width: 120px;
            .value {
              height: 40px;
              line-height: 40px;
              font-size: 18px;
            }
            & > .name {
              color: #8aa1a1;
            }
          }
        }
        .item-group {
          width: 100%;
          height: 150px;
          padding: 30px;
        }
        .item-group-title {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
      }
    }
  }
}

@media screen and (min-width: 1680px) {
  .page-container {
    width: 1200px;
  }
}

