.custom-modal {
  width: 400px !important;
  transform-origin: center !important;
  padding: 0;
  color: #fff;
  top: 260px;
  .ant-modal-content,
  .ant-modal-body {
    padding: 0;
    background: #2a2a2a;
    border-radius: 40px;
  }
}
