section.cover {
  .container.exchange-container {
    padding-left: 20px;
    padding-right: 20px;
    .title {
      padding-left: 20px;
      padding-right: 20px;
    }
    ul.exchanges {
      padding: 0 20px;
      margin-top: 15px;
      max-height: 440px;
      overflow-y: scroll;
      & > li {
        position: relative;
        background: #2a2a2a;
        border: 1px solid #ffffff0d;
        border-radius: 10px;
        padding: 20px;
        display: flex;
        cursor: pointer;
        &:not(:first-child) {
          margin-top: 12px;
        }
        &:hover {
          background: #2b312d;
          border: 1px solid #46b069;
          .name {
            font-family: "fontMedium";
          }
        }
        &.active {
          background: linear-gradient(0deg, #46b069, #00af92);
          .name {
            font-family: "fontDemiBold";
          }
          .left .fiat {
            color: #fff;
          }
          ul.routes {
            color: #eff2f2;
          }
        }
        .left {
          width: 210px;
          display: inline-flex;
          justify-content: center;
          flex-direction: column;
          margin-right: 30px;
          .name {
            font-size: 18px;
          }
          .fiat {
            margin-top: 13px;
            color: #8aa1a1;
            font-size: 14px;
            font-family: "fontRegular";
          }
        }
        ul.routes {
          color: #8aa1a1;
          font-family: "fontRegular";
          font-size: 12px;
          li:not(:first-child) {
            margin-top: -5px;
          }
          img {
            width: 20px;
            margin-right: 10px;
          }
        }
      }
    }
    // ul.exchanges {
    //   li {
    //     margin-top: 15px;
    //     height: 90px;
    //     background: #2a2a2a;
    //     border: 1px solid #ffffff0d;
    //     border-radius: 10px;
    //     padding: 26px 21px 0 26px;
    //     cursor: pointer;
    //     &:hover {
    //       background: #2b312d;
    //       border: 1px solid #46b069;
    //     }
    //     &.active {
    //       background: linear-gradient(0deg, #46b069, #00af92);
    //       .value {
    //         font-family: "fontDemiBold";
    //       }
    //       .fiat {
    //         color: #fff;
    //       }
    //     }
    //     .flex-row {
    //       display: flex;
    //       justify-content: space-between;
    //       font-size: 18px;
    //     }
    //     .fiat {
    //       text-align: right;
    //       color: #8aa1a1;
    //       margin-top: 11px;
    //       font-family: "fontRegular";
    //     }
    //   }
    // }
  }
}
