section.min-tx {
  position: fixed;
  right: 154px;
  bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  background: #46b069;
  border-radius: 25px;
  font-family: "fontRegular";
  cursor: pointer;
  img {
    width: 20px;
    margin-right: 15px;
  }
  .pending-min-json {
    width: 30px;
    margin-right: 10px;
  }
  &.pending {
    background: #6162ef80;
  }
}

.tx-modal-content {
  padding: 30px;
  text-align: center;
  line-height: 1;
  .status-img {
    width: 91px;
    margin: 0 auto;
    margin-top: 10px;
    position: relative;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .status {
    font-size: 24px;
    margin-top: 20px;
    font-family: "fontDemiBold";
  }
  .desc {
    color: #8aa1a1;
    margin-top: 18px;
    margin-bottom: 22px;
  }
  .show-detail {
    margin-top: 20px;
    text-align: center;
    img {
      cursor: pointer;
      width: 15px;
      transition: all 0.3s;
      &.show {
        transform: rotate(180deg);
      }
    }
  }
  .tx-group {
    margin-top: 20px;
    position: relative;
    &.cross-chain {
      .tx-item {
        align-items: flex-start;
        .left {
          margin-top: 10px;
        }
      }
      &::before {
        content: "";
        position: absolute;
        left: 9px;
        top: 15px;
        width: 2px;
        height: 140px;
        background: #303030;
      }
    }
    .tx-item {
      height: 60px;
      display: flex;
      align-items: center;
      .left {
        width: 20px;
        margin-right: 10px;
        .tx-json,
        img {
          width: 20px;
          height: 20px;
        }
      }
      .right {
        width: calc(100% - 30px);
        height: 60px;
        text-align: left;
        background: #303030;
        border-radius: 10px;
        padding: 12px 0 12px 20px;
        position: relative;
        .hash {
          margin-top: 10px;
          color: #8aa1a1;
          span {
            margin-right: 10px;
          }
          img.copy {
            cursor: pointer;
            width: 13px;
            margin-left: 8px;
          }
        }
        .link {
          position: absolute;
          top: 5px;
          right: 5px;
          width: 40px;
          height: 50px;
          background: #353535;
          border-radius: 10px;
          a {
            width: 100%;
            height: 100%;
            display: inline-flex;
            align-items: center;
            justify-content: center;
          }
          span {
            display: inline-block;
            width: 14px;
            height: 14px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: 100% auto;
            background-image: url("/assets/images/swap-result/link.png");
          }
          &:hover span {
            background-image: url("/assets/images/swap-result/link-active.png");
          }
        }
      }
      &:not(:first-child) {
        margin-top: 10px;
      }
    }
  }
}
