.main {
  width: 100%;
  height: 100%;
  background: #121212;
  color: #fff;
  &.home {
    height: auto;
    background-image: url("/assets/images/home/bg1.png");
    background-position: center top;
    background-size: 1920px auto;
    background-repeat: no-repeat;
    header {
      border-bottom: none;
      ul.menu {
        padding-right: 160px;
      }
    }
  }
}

header {
  font-size: 16px;
  border-bottom: 1px solid #ffffff0d;
  .container {
    margin: 0 auto;
    padding: 0 10px;
    height: 90px;
    max-width: 1400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .logo {
    height: 30px;
    line-height: 30px;
  }
  ul.menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    li {
      display: inline-flex;
      height: 30px;
      line-height: 30px;
      min-width: 80px;
      margin-right: 35px;
      position: relative;
      &.add-width {
        min-width: 95px;
      }
      a {
        height: 100%;
        line-height: 30px;
        width: 100%;
        text-align: center;
        color: #fff;
      }
      &.active a,
      &:hover a {
        color: #46b069;
      }
      &.active,
      &:hover {
        color: #46b069;
        font-family: "fontBold";
        &::before {
          display: block;
        }
      }
      &::before {
        content: "";
        position: absolute;
        top: -30px;
        left: 50%;
        width: 20px;
        height: 3px;
        background: #46b069;
        margin-left: -10px;
        display: none;
      }
    }
  }
  ul.is-home-menu {
    padding: 10px 0;
    position: absolute;
    left: 40px;
    top: 130px;
    bottom: 0;
    width: 220px;
    background-color: #202020;
    border-radius: 20px 20px 0 0;
    li {
      padding-left: 50px;
      height: 60px;
      font-size: 14px;
      a {
        height: 100%;
        line-height: 60px;
        width: 100%;
        text-align: center;
        color: #fff;
        &:hover {
          color: #46b069;
        }
      }
      &.active {
        background: linear-gradient(90deg, rgba(18, 18, 18, 0.2), rgba(70, 176, 105, 0.2));
        a {
          color: #46b069;
        }
      }
    }
  }
  @media screen and (min-width: 1680px) {
    ul.is-home-menu {
      left: 20px;
      width: 180px;
      li {
        padding-left: 40px;
      }
    }
  }
  .connect {
    min-width: 310px;
    display: flex;
    .wallet {
      position: relative;
      margin-right: 14px;
      & > img {
        width: 40px;
        height: 40px;
        background: #2b312d;
        border-radius: 50%;
        cursor: pointer;
      }
      .dropdown {
        position: absolute;
        width: 300px;
        height: 230px;
        top: 63px;
        left: 50%;
        margin-left: -150px;
        background: #2a2a2a;
        border-radius: 20px;
        padding: 30px;
        &::before {
          content: "";
          position: absolute;
          width: 16px;
          height: 16px;
          top: -8px;
          left: 142px;
          background: #2a2a2a;
          transform: rotate(45deg);
        }
        .title {
          display: flex;
          align-items: center;
          justify-content: space-between;
          font-size: 16px;
          .change-btn {
            width: 90px;
            height: 30px;
            background: #2f2f3b;
            border-radius: 10px;
            color: #6162ef;
            cursor: pointer;
            img {
              height: 16px;
              margin-right: 8px;
            }
          }
        }
        .account {
          height: 70px;
          margin-top: 17px;
          padding: 15px;
          background: #2a2a2a;
          border: 1px solid #ffffff0d;
          border-radius: 10px;
          .name {
            color: #8aa1a1;
          }
          .address {
            margin-top: 10px;
            img.copy {
              cursor: pointer;
              width: 12px;
              margin-left: 10px;
            }
          }
        }
        button.disconnect {
          cursor: pointer;
          margin-top: 20px;
          width: 100%;
          height: 40px;
          background: #cd42421a;
          border-radius: 10px;
          color: #cd4242;
        }
      }
    }
    .connect-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 160px;
      height: 40px;
      background: #2b312d;
      border-radius: 20px;
      font-family: "fontRegular";
      cursor: pointer;
      img {
        width: 18px;
        margin-right: 7px;
      }
    }
  }
}

footer {
  width: 1920px;
  height: 400px;
  margin-top: -93px;
  background: #202020;
}

.connect-modal-content {
  height: 360px;
  padding: 30px;
  .chains {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 270px;
    width: 70px;
    background: #222222;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 40px;
    padding: 10px 15px;
    span {
      display: inline-block;
      width: 40px;
      height: 40px;
      background: #ffffff1a;
      border-radius: 10px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100% auto;
      cursor: pointer;
      margin-top: 16px;
      &.eth {
        background-image: url("/assets/images/chains/eth.png");
        &:hover,
        &.active {
          background-image: url("/assets/images/chains/eth-active.png");
        }
      }
      &.neo {
        background-image: url("/assets/images/chains/neo.png");
        &:hover,
        &.active {
          background-image: url("/assets/images/chains/neo-active.png");
        }
      }
      &.bsc {
        background-image: url("/assets/images/chains/bsc.png");
        &:hover,
        &.active {
          background-image: url("/assets/images/chains/bsc-active.png");
        }
      }
      &.heco {
        background-image: url("/assets/images/chains/heco.png");
        &:hover,
        &.active {
          background-image: url("/assets/images/chains/heco-active.png");
        }
      }
    }
  }
  .wallet-type {
    font-size: 16px;
    margin-bottom: 20px;
    padding-left: 70px;
    margin-top: 35px;
  }
  ul.wallets {
    padding-left: 70px;
    li {
      margin-top: 20px;
      div {
        border-radius: 10px;
        cursor: pointer;
        font-size: 16px;
        padding: 12px 18px;
        background: #2a2a2a;
        border: 1px dashed #4a4a4a;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &:hover {
          background: #303030;
        }
        &.active {
          cursor: default;
          background: #303030;
          border: none;
          padding: 20px;
          display: block;
          .name {
            color: #46b069;
          }
        }
      }
      img.logo {
        width: 36px;
        margin-right: 10px;
        border-radius: 50%;
      }
      .name {
        flex: 1;
      }
      img.option {
        width: 14px;
      }
      .address {
        margin-top: 12px;
        font-size: 14px;
        color: #8aa1a1;
        img.copy {
          width: 13px;
          margin-left: 7px;
          cursor: pointer;
        }
      }
    }
  }
}

section.cover .container.account-container {
  margin-top: 280px;
  height: 360px;
  .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .title-right {
      position: absolute;
      right: 30px;
      display: flex;
      align-items: center;
      button {
        cursor: pointer;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 100px;
        height: 36px;
        background: #2f2f3b;
        border-radius: 10px;
        font-size: 16px;
        color: #6162ef;
        font-family: "fontRegular";
        img.change {
          width: 20px;
          margin-right: 2px;
        }
      }
      & > img {
        width: 44px;
        margin-left: 15px;
        cursor: pointer;
        position: static;
      }
    }
  }
  .account {
    height: 120px;
    background: #2a2a2a;
    border: 1px solid #ffffff0d;
    border-radius: 10px;
    padding: 29px 20px 0 25px;
    margin-top: 30px;
    .name {
      font-size: 16px;
      color: #8aa1a1;
    }
    .row {
      margin-top: 20px;
      font-size: 20px;
      color: #ffffff;
      display: flex;
      align-items: center;
      img.logo {
        width: 30px;
        margin-right: 12px;
        border-radius: 50%;
      }
      .address {
        font-family: "fontRegular";
      }
      img.copy {
        width: 14px;
        margin-left: 16px;
        cursor: pointer;
      }
    }
  }
  button.disconnect {
    cursor: pointer;
    width: 100%;
    height: 60px;
    background: #2a2a2a;
    border: 1px solid #cd4242;
    border-radius: 30px;
    margin-top: 33px;
    font-size: 18px;
    color: #cd4242;
    font-family: "fontRegular";
  }
}
