<div class="main" [ngClass]="{home: isHome}">
  <header>
    <div class="container">
      <a routerLink="/">
        <img class="logo" src="/assets/images/logo.png" alt="">
      </a>
      <ul *ngIf="isHome !== false" [ngClass]="{ 'menu flex-1': isHome !== false }">
        <li [ngClass]="{active: isHome}">
          <a routerLink="/">Home</a>
        </li>
        <li [ngClass]="{active: currentPage==='/swap'}">
          <a routerLink="/swap">Swap</a>
        </li>
        <li class="add-width" [ngClass]="{active: currentPage.startsWith('/hub')}">
          <a routerLink="/hub">Hub</a>
        </li>
        <li class="add-width" [ngClass]="{active: currentPage==='/vault'}">
          <a routerLink="/vault">Vault</a>
        </li>
        <!-- <li>
          <a nz-tooltip nzTooltipTitle="Coming soon..." nzTooltipPlacement="bottom">Swap</a>
        </li>
        <li>
          <a nz-tooltip nzTooltipTitle="Coming soon..." nzTooltipPlacement="bottom">Hub</a>
        </li>
        <li>
          <a nz-tooltip nzTooltipTitle="Coming soon..." nzTooltipPlacement="bottom">Vault</a>
        </li> -->
        <li class="add-width">
          <a nz-tooltip nzTooltipTitle="Coming soon..." nzTooltipPlacement="bottom">Dashboard</a>
        </li>
        <li>
          <a href="https://medium.com/o3-labs-o3-wallet" target="_blank">Blog</a>
        </li>
        <!-- <li class="add-width" [ngClass]="{active: currentPage.startsWith('/governance')}">
          <a>Governance</a>
        </li> -->
        <li class="add-width">
          <a nz-tooltip nzTooltipTitle="Coming soon..." nzTooltipPlacement="bottom">Governance</a>
        </li>
        <li>
          <a href="https://docs.o3swap.com/" target="_blank">Doc</a>
        </li>
      </ul>
      <ul *ngIf="isHome === false" [ngClass]="{ 'left-menu': isHome === false }">
        <li [ngClass]="{active: isHome}">
          <a routerLink="/">Home</a>
        </li>
        <li [ngClass]="{active: currentPage==='/swap'}">
          <a routerLink="/swap">Swap</a>
        </li>
        <li [ngClass]="{active: currentPage.startsWith('/hub')}">
          <a routerLink="/hub">Hub</a>
        </li>
        <li [ngClass]="{active: currentPage==='/vault'}">
          <a routerLink="/vault">Vault</a>
        </li>
        <li>
          <a href="https://medium.com/o3-labs-o3-wallet" target="_blank">Blog</a>
        </li>
        <li>
          <a>Dashboard</a>
        </li>
        <li>
          <a>Governance</a>
        </li>
        <li>
          <a href="https://docs.o3swap.com/" target="_blank">Doc</a>
        </li>
      </ul>
      <div *ngIf="isHome===false" class="connect">
        <div class="wallet" *ngIf="ethWalletName">
          <img (mouseenter)="showAccountModal('ETH')" (mouseleave)="hideAccountModal('ETH')"
            src="/assets/images/chains/eth-active.png" alt="">
          <div class="dropdown" *ngIf="showEthAccountModal" (mouseenter)="showAccountModal('ETH')"
            (mouseleave)="hideAccountModal('ETH')">
            <div class="title">
              <span>Account</span>
              <button class="change-btn" (click)="changeWallet('ETH')">
                <img class="change" src="/assets/images/swap/account-change.png" alt="">Change
              </button>
            </div>
            <div class="account">
              <p class="name">{{ ethWalletName }} Wallet</p>
              <p class="address">
                {{ ethAccountAddress | shortAddress: 6 }}
                <img class="copy" (click)="copy(ethAccountAddress)" src="/assets/images/swap/copy.png" alt="">
              </p>
            </div>
            <button class="disconnect" (click)="disConnect('ETH')">Disconnect</button>
          </div>
        </div>
        <div class="wallet" *ngIf="neoWalletName">
          <img (mouseenter)="showAccountModal('NEO')" (mouseleave)="hideAccountModal('NEO')"
            src="/assets/images/chains/neo-active.png" alt="">
          <div class="dropdown" *ngIf="showNeoAccountModal" (mouseenter)="showAccountModal('NEO')"
            (mouseleave)="hideAccountModal('NEO')">
            <div class="title">
              <span>Account</span>
              <button class="change-btn" (click)="changeWallet('NEO')">
                <img class="change" src="/assets/images/swap/account-change.png" alt="">Change
              </button>
            </div>
            <div class="account">
              <p class="name">{{ neoWalletName }} Wallet</p>
              <p class="address">
                {{ neoAccountAddress | shortAddress: 6 }}
                <img class="copy" (click)="copy(neoAccountAddress)" src="/assets/images/swap/copy.png" alt="">
              </p>
            </div>
            <button class="disconnect" (click)="disConnect('NEO')">Disconnect</button>
          </div>
        </div>
        <div class="wallet" *ngIf="bscWalletName">
          <img (mouseenter)="showAccountModal('BSC')" (mouseleave)="hideAccountModal('BSC')"
            src="/assets/images/chains/bsc-active.png" alt="">
          <div class="dropdown" *ngIf="showBscAccountModal" (mouseenter)="showAccountModal('BSC')"
            (mouseleave)="hideAccountModal('BSC')">
            <div class="title">
              <span>Account</span>
              <button class="change-btn" (click)="changeWallet('BSC')">
                <img class="change" src="/assets/images/swap/account-change.png" alt="">Change
              </button>
            </div>
            <div class="account">
              <p class="name">{{ bscWalletName }} Wallet</p>
              <p class="address">
                {{ bscAccountAddress | shortAddress: 6 }}
                <img class="copy" (click)="copy(bscAccountAddress)" src="/assets/images/swap/copy.png" alt="">
              </p>
            </div>
            <button class="disconnect" (click)="disConnect('BSC')">Disconnect</button>
          </div>
        </div>
        <div class="wallet" *ngIf="hecoWalletName">
          <img (mouseenter)="showAccountModal('HECO')" (mouseleave)="hideAccountModal('HECO')"
            src="/assets/images/chains/heco-active.png" alt="">
          <div class="dropdown" *ngIf="showHecoAccountModal" (mouseenter)="showAccountModal('HECO')"
            (mouseleave)="hideAccountModal('HECO')">
            <div class="title">
              <span>Account</span>
              <button class="change-btn" (click)="changeWallet('HECO')">
                <img class="change" src="/assets/images/swap/account-change.png" alt="">Change
              </button>
            </div>
            <div class="account">
              <p class="name">{{ hecoWalletName }} Wallet</p>
              <p class="address">
                {{ hecoAccountAddress | shortAddress: 6 }}
                <img class="copy" (click)="copy(hecoAccountAddress)" src="/assets/images/swap/copy.png" alt="">
              </p>
            </div>
            <button class="disconnect" (click)="disConnect('HECO')">Disconnect</button>
          </div>
        </div>
        <div class="connect-btn" *ngIf="!neoWalletName" (click)="showConnect()">
          <img src="/assets/images/swap/link.png" alt="">
          <span>Connect Wallet</span>
        </div>
      </div>
    </div>
  </header>
  <router-outlet></router-outlet>
</div>

<app-wallet-connect [show]="showConnectModal" [connectChainType]="connectChainType"
  (closePage)="showConnectModal=false"></app-wallet-connect>
