section.wrapper {
  width: 520px;
  height: 631px;
  margin: 0 auto;
  margin-top: 89px;
  background-image: url("/assets/images/swap/bg.png");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 40px;
  position: relative;
  .setting-group {
    position: absolute;
    right: 20px;
    top: 11px;
    img {
      width: 50px;
      height: 50px;
      cursor: pointer;
      background: #8aa1a12e;
      border-radius: 10px;
      &:hover {
        background: #2b312d;
      }
      &:not(:last-child) {
        margin-right: 20px;
      }
    }
  }
  .title {
    font-size: 24px;
    font-family: "fontDemiBold";
  }
  .sub-title {
    line-height: 12px;
    font-size: 16px;
    color: #8aa1a1;
    font-family: "fontRegular";
  }
  .content-border {
    border: 1px solid #ffffff0d;
    border-radius: 20px;
    &.content-border-active {
      background: #2b312d;
      border: 1px solid #46b069;
    }
  }
  button.confirm {
    height: 70px;
    background: #46b069;
    border-radius: 35px;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
  }
}

section.select-token-wrapper {
  .input-token-error {
    position: absolute;
    top: 101px;
    left: 50%;
    margin-left: -150px;
    width: 300px;
    min-height: 50px;
    background: #cd4242b3;
    border-radius: 10px;
    font-family: "fontRegular";
    text-align: center;
    line-height: 20px;
    padding: 15px 5px;
  }
  .token-select {
    margin-top: 59px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .token-select-item {
      width: 190px;
      height: 100px;
      padding: 20px 20px 0 25px;
      cursor: pointer;
      &:hover {
        background: #2b312d;
        border: 1px solid #46b069;
      }
      .token-select-title {
        height: 12px;
      }
      .token-select-dropdown {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 16px;
        font-size: 22px;
        &.no-selected {
          margin-top: 25px;
          color: #4a4a4a;
        }
        img.logo {
          margin-right: 15px;
          width: 36px;
          height: 36px;
        }
        span.name {
          flex: 1;
        }
        img.arrow {
          width: 12px;
        }
      }
    }
    img.token-exchange {
      width: 24px;
    }
  }
  .pay {
    margin-top: 24px;
    width: 100%;
    height: 100px;
    padding: 20px 30px 0 30px;
    position: relative;
    .pay-tip {
      position: absolute;
      top: 114px;
      left: 11px;
      color: #8aa1a1;
      font-family: "fontRegular";
    }
    .pay-title {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      font-family: "fontRegular";
    }
    .pay-amount {
      margin-top: 14px;
      display: flex;
      align-items: center;
      input {
        min-width: 100px;
        height: 36px;
        font-size: 30px;
        background: none;
        border: none;
        color: #fff;
        padding-right: 10px;
        &::placeholder {
          color: #4a4a4a;
        }
      }
      .token-from {
        font-size: 24px;
        color: #4a4a4a;
      }
      button.all {
        width: 60px;
        height: 36px;
        background: #353535;
        border-radius: 10px;
        font-size: 16px;
        color: #9a9a9a;
        margin-left: 19px;
        cursor: pointer;
        font-family: "fontRegular";
      }
    }
  }
  .receive {
    margin-top: 49px;
    height: 196px;
    padding: 20px;
    &.content-border-active {
      .receive-amount {
        color: #46b069;
      }
      .receive-fiat {
        color: #fff;
      }
      img {
        display: block;
      }
      button.confirm {
        display: none;
      }
    }
    .receive-title {
      padding-left: 10px;
    }
    .receive-amount,
    .receive-fiat {
      color: #4a4a4a;
      text-align: center;
    }
    .receive-amount {
      font-size: 30px;
      line-height: 23px;
    }
    .receive-fiat {
      font-size: 16px;
      margin-top: 13px;
      font-family: "fontRegular";
    }
    button.confirm {
      width: 100%;
      margin-top: 20px;
      opacity: 0.5;
      cursor: default;
      &.active {
        cursor: pointer;
        opacity: 1;
      }
    }
    img {
      position: relative;
      width: 80px;
      margin-top: 16px;
      margin-left: -40px;
      left: 50%;
      display: none;
      cursor: pointer;
    }
  }
}

section.inquiry-wrapper {
  img {
    margin: 0 auto;
    margin-top: 120px;
    display: block;
  }
  .inqirying {
    text-align: center;
    font-size: 18px;
    color: #f1f1f1;
    margin-top: 30px;
    font-family: "fontRegular";
  }
  button.back {
    margin-top: 80px;
    width: 100%;
    height: 70px;
    background: #46b069;
    border-radius: 35px;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
  }
}

section.result-wrapper {
  .exchange-amount {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 60px;
    font-size: 24px;
    .left {
      display: flex;
      align-items: center;
    }
    img.exchange {
      width: 24px;
      margin: 0 10px;
    }
    .arrow {
      cursor: pointer;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 24px;
      border-radius: 4px;
      &:hover {
        background: #353535;
      }
      img {
        width: 20px;
        transform: rotate(180deg);
      }
    }
  }
  .receive {
    height: 110px;
    margin-top: 33px;
    position: relative;
    padding: 20px 30px 0 30px;
    .optimal {
      width: 70px;
      height: 24px;
      line-height: 24px;
      text-align: center;
      font-family: "fontRegular";
      position: absolute;
      top: 0;
      right: 0;
      background-image: url("/assets/images/swap/optimal.png");
      background-position: 1px -1px;
      background-size: 100%;
      background-repeat: no-repeat;
    }
    .amount,
    .fiat {
      text-align: center;
    }
    .amount {
      font-size: 30px;
      line-height: 23px;
      color: #46b069;
    }
    .fiat {
      font-size: 16px;
      margin-top: 13px;
      font-family: "fontRegular";
    }
  }
  .more-price {
    text-align: center;
    padding: 18px 0;
    color: #46b069;
    border-bottom: 1px solid #ffffff1a;
    cursor: pointer;
    font-family: "fontRegular";
  }
  .fee-group {
    font-size: 16px;
    color: #8aa1a1;
    font-family: "fontRegular";
  }
  .fee-item {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    ul.routes {
      display: flex;
      span {
        margin: 0 10px;
      }
      img {
        width: 24px;
        margin-right: 5px;
      }
    }
  }
  button.confirm {
    position: absolute;
    width: calc(100% - 80px);
    bottom: 40px;
    left: 40px;
    right: 40px;
  }
}

section.setting-wrapper {
  & > .title {
    padding-bottom: 37px;
  }
  .setting-item-title {
    font-size: 16px;
    margin-top: 40px;
  }
  .slip {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    .slip-error {
      position: absolute;
      bottom: -22px;
      color: #cd4242;
      font-family: "fontRegular";
    }
    .tail {
      position: absolute;
      right: 8px;
      // display: none;
    }
    ul.left {
      font-family: "fontRegular";
      height: 40px;
      background: #353535;
      border-radius: 10px;
      li {
        display: inline-block;
        width: 60px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        border-radius: 10px;
        cursor: pointer;
        &:not(:last-child) {
          margin-right: 15px;
        }
        &.active {
          background: #2b312d;
          border: 1px solid #46b069;
          color: #46b069;
        }
      }
    }
  }
  .setting-item-content {
    margin-top: 24px;
    input {
      width: 100px;
      height: 40px;
      background: #353535;
      border-radius: 10px;
      border: none;
      padding: 0 20px;
      text-align: center;
      color: #fff;
      font-size: 16px;
      font-family: "fontRegular";
      &.focus {
        background: #2b312d;
        border: 1px solid #46b069;
      }
      &::placeholder {
        color: #4a4a4a;
      }
    }
  }
}

section.choose-token-wrapper {
  input {
    width: 100%;
    height: 60px;
    background: #353535;
    border-radius: 10px;
    margin-top: 62px;
    padding: 0 39px;
    border: none;
    color: #fff;
    font-size: 18px;
    &::placeholder {
      color: #4a4a4a;
    }
  }
  .chains {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 420px;
    width: 90px;
    background: #222222;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    padding: 6px 24px;
    img {
      width: 40px;
      margin-top: 24px;
      border-radius: 10px;
      opacity: 0.2;
      border-radius: 50%;
      &.active {
        opacity: 1;
      }
    }
  }
  ul.tokens {
    margin-top: 30px;
    margin-left: 90px;
    padding-right: 12px;
    font-size: 18px;
    height: 380px;
    overflow: scroll;
    li.token {
      margin-top: 30px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;
      &:hover,
      &.active {
        color: #46b069;
      }
      .amount {
        font-family: "fontRegular";
      }
      img {
        width: 36px;
        margin-right: 15px;
      }
    }
  }
}

section.cover {
  .container.exchange-container {
    ul.exchanges {
      & > li {
        position: relative;
        margin-top: 15px;
        height: 100px;
        background: #2a2a2a;
        border: 1px solid #ffffff0d;
        border-radius: 10px;
        padding: 20px;
        cursor: pointer;
        &:hover {
          background: #2b312d;
          border: 1px solid #46b069;
          .name {
            font-family: "fontMedium";
          }
        }
        &.active {
          background: linear-gradient(0deg, #46b069, #00af92);
          .name {
            font-family: "fontDemiBold";
          }
          .flex-row .fiat,
          ul.routes {
            color: #fff;
          }
        }
        .flex-row {
          display: flex;
          align-items: center;
          justify-content: space-between;
          .name {
            font-size: 20px;
          }
          .fiat {
            color: #8aa1a1;
            font-size: 14px;
            font-family: "fontRegular";
          }
        }
        ul.routes {
          position: absolute;
          right: 20px;
          bottom: 9px;
          text-align: right;
          color: #8aa1a1;
          font-family: "fontRegular";
          display: flex;
          font-size: 14px;
          width: max-content;
          span {
            margin: 0 10px;
          }
          img {
            width: 24px;
            margin-right: 5px;
          }
        }
      }
    }
    // ul.exchanges {
    //   li {
    //     margin-top: 15px;
    //     height: 90px;
    //     background: #2a2a2a;
    //     border: 1px solid #ffffff0d;
    //     border-radius: 10px;
    //     padding: 26px 21px 0 26px;
    //     cursor: pointer;
    //     &:hover {
    //       background: #2b312d;
    //       border: 1px solid #46b069;
    //     }
    //     &.active {
    //       background: linear-gradient(0deg, #46b069, #00af92);
    //       .value {
    //         font-family: "fontDemiBold";
    //       }
    //       .fiat {
    //         color: #fff;
    //       }
    //     }
    //     .flex-row {
    //       display: flex;
    //       justify-content: space-between;
    //       font-size: 18px;
    //     }
    //     .fiat {
    //       text-align: right;
    //       color: #8aa1a1;
    //       margin-top: 11px;
    //       font-family: "fontRegular";
    //     }
    //   }
    // }
  }
}

section.cover .tx-hash-container {
  height: 360px;
  margin-top: 280px;
  text-align: center;
  .title img.pending {
    cursor: default;
  }
  .status-img {
    width: 120px;
    height: 120px;
    margin: 0 auto;
    position: relative;
    img {
      width: 100%;
      height: 100%;
    }
    img.pending-icon {
      width: 40px;
      height: 40px;
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }
  .status {
    font-size: 24px;
    margin-top: 38px;
  }
  .desc {
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    span {
      color: #8aa1a1;
      margin-right: 20px;
    }
    img {
      width: 20px;
      margin-left: 18px;
      cursor: pointer;
    }
    img.copy {
      margin-left: 34px;
    }
  }
}
