<app-swap-home *ngIf="pageStatus==='home'" [rates]="rates" [fromToken]="fromToken" [toToken]="toToken"
  [inputAmount]="inputAmount" [chooseSwapPath]="initResultData?.chooseSwapPath" (toInquiryPage)="toInquiryPage($event)"
  (toResultPage)="toResultPage()">
</app-swap-home>

<app-swap-result *ngIf="pageStatus==='result'" [rates]="rates" [fromToken]="fromToken" [toToken]="toToken"
  [inputAmount]="inputAmount" [initData]="initResultData" (closePage)="closeResultPage($event)" (swapFail)="swapFail()">
</app-swap-result>

<section class="cover" *ngIf="transaction?.min===false">
  <div class="container tx-hash-container">
    <div class="close-group">
      <a class="link" *ngIf='!transaction?.isPending' target="_blank" [href]="txPage">
        <img src="/assets/images/swap-result/link.png" alt="">
      </a>
      <img *ngIf='transaction?.isPending' (click)="minTxHashModal()" class="close"
        src="/assets/images/swap-result/close-pending.png" alt="">
      <img *ngIf='!transaction?.isPending' (click)="minTxHashModal()" class="close" src="/assets/images/swap/close.png"
        alt="">
    </div>
    <div class="content">
      <div class="status-img">
        <ng-lottie *ngIf='transaction?.isPending' class="pending-json" [options]="pendingOptions"></ng-lottie>
        <ng-lottie *ngIf='!transaction?.isPending' class="success-json" [options]="successOptions"></ng-lottie>
      </div>
      <p class="status">{{ transaction?.isPending ? 'Pending' : 'Success' }}</p>
      <div class="desc">
        <span>Hash</span>
        {{ transaction?.txid | shortAddress: 10 }}
        <img class="copy" (click)="copy(transaction?.txid)" src="/assets/images/swap-result/copy.png" alt="">
      </div>
    </div>
  </div>
</section>

<section class="min-tx" *ngIf="transaction?.min===true" (click)="maxTxHashModal()"
  [ngClass]="{pending: transaction?.isPending}">
  <img *ngIf="transaction?.isPending" src="/assets/images/swap-result/pending-icon.png" alt="">
  <img *ngIf="!transaction?.isPending" src="/assets/images/swap-result/success-icon.png" alt="">
  {{ transaction?.isPending ? 'A record is pending' : 'A record succeeded' }}
</section>
