<app-swap-home *ngIf="pageStatus==='home'" [rates]="rates" [fromToken]="fromToken" [toToken]="toToken"
  [inputAmount]="inputAmount" [chooseSwapPath]="initResultData?.chooseSwapPath" (toTokenPage)="toTokenPage($event)"
  (toSettingPage)="toSettingPage($event)" (toInquiryPage)="toInquiryPage($event)" (toResultPage)="toResultPage()">
</app-swap-home>

<app-swap-token *ngIf="pageStatus==='token'" [activeToken]="activeToken" [hideToken]="hideToken"
  (closePage)="closeTokenPage($event)"></app-swap-token>

<app-swap-setting *ngIf="pageStatus==='setting'" [deadline]="settings.deadline" [slipValue]="settings.slipValue"
  [isCustomSlip]="settings.isCustomSlip" (closePage)="closeSettingPage($event)">
</app-swap-setting>

<app-swap-result *ngIf="pageStatus==='result'" [rates]="rates" [fromToken]="fromToken" [toToken]="toToken"
  [inputAmount]="inputAmount" [deadline]="settings.deadline" [slipValue]="settings.slipValue"
  [initData]="initResultData" (closePage)="closeResultPage($event)" (swapFail)="swapFail()">
</app-swap-result>
