<section class="content home">
  <div class="wrapper">
    <p class="title">Cross-chain</p>
    <p class="desc1">Aggregation Protocol</p>
    <p class="desc2">Access multi-chain liquidity source on one platform</p>
    <img src="/assets/images/home/price.gif" alt="">
  </div>
</section>
<section class="content exchanges">
  <div class="wrapper">
    <img src="/assets/images/home/exchanges/class-bg.png" class="bg" alt="">
    <p class="sub-title">Liquidity Source</p>
    <div class="exchanges-group">
      <ul class="col col1">
        <li>
          <a target="_blank" href="https://uniswap.org/">
            <img src="/assets/images/home/exchanges/uniswap.png" alt="">Uniswap
          </a>
        </li>
        <li>
          <a target="_blank" href="https://sushi.com/">
            <img src="/assets/images/home/exchanges/sushi.png" alt="">SushiSwap
          </a>
        </li>
        <li>
          <a target="_blank" href="https://curve.fi/">
            <img src="/assets/images/home/exchanges/curve.png" alt="">Curve
          </a>
        </li>
        <li>
          <a target="_blank" href="https://balancer.finance/">
            <img src="/assets/images/home/exchanges/balancer.png" alt="">Balancer
          </a>
        </li>
        <li>
          <a target="_blank" href="https://app.bancor.network/eth/data">
            <img src="/assets/images/home/exchanges/bancor.png" alt="">Bancor
          </a>
        </li>
        <li>
          <a target="_blank" href="https://1inch.exchange/#/">
            <img src="/assets/images/home/exchanges/1inch.jpg" alt="">1inch
          </a>
        </li>
        <li>
          <a target="_blank" href="https://paraswap.io/#/">
            <img src="/assets/images/home/exchanges/paraswap.png" alt="">Paraswap
          </a>
        </li>
        <li>
          <a target="_blank" href="https://0x.org/">
            <img src="/assets/images/home/exchanges/0x.png" alt="">0x Protocol
          </a>
        </li>
      </ul>
      <ul class="col col2">
        <li>
          <a target="_blank" href="https://pancakeswap.finance/">
            <img src="/assets/images/home/exchanges/pancakeswap.png" alt="">PancakeSwap
          </a>
        </li>
        <li>
          <a target="_blank" href="https://www.bakeryswap.org/#/home">
            <img src="/assets/images/home/exchanges/bakeryswap.png" alt="">BakerySwap
          </a>
        </li>
        <li>
          <a target="_blank" href="https://dodoex.io/">
            <img src="/assets/images/home/exchanges/dodoex.png" alt="">DODO
          </a>
        </li>
        <li>
          <a target="_blank" href="https://julswap.com/#/swap">
            <img src="/assets/images/home/exchanges/julswap.png" alt="">JulSwap
          </a>
        </li>
        <li>
          <a target="_blank" href="https://apeswap.finance/">
            <img src="/assets/images/home/exchanges/apeswap.jpg" alt="">ApeSwap
          </a>
        </li>
        <li>
          <a target="_blank" href="https://trade.bscswap.com/#/swap">
            <img src="/assets/images/home/exchanges/bscswap.png" alt="">BSCswap
          </a>
        </li>
      </ul>
      <ul class="col col3">
        <li>
          <a target="_blank" href="https://flamingo.finance/">
            <img src="/assets/images/home/exchanges/flamingo.png" alt="">Flamingo
          </a>
        </li>
        <li>
          <a target="_blank" href="https://nash.io/">
            <img src="/assets/images/home/exchanges/nash.png" alt="">Nash
          </a>
        </li>
        <li>
          <a target="_blank" href="https://switcheo.network/">
            <img src="/assets/images/home/exchanges/switcheo.png" alt="">Switcheo
          </a>
        </li>
      </ul>
      <ul class="col col4">
        <li>
          <a target="_blank" href="https://ht.mdex.com/#/swap">
            <img src="/assets/images/home/exchanges/mdex.png" alt="">MDEX
          </a>
        </li>
        <li>
          <a target="_blank" href="https://lavaswap.com/">
            <img src="/assets/images/home/exchanges/lavaswap.png" alt="">LAVAswap
          </a>
        </li>
        <li>
          <a target="_blank" href="https://huobi.anyswap.exchange/dashboard">
            <img src="/assets/images/home/exchanges/anyswap.png" alt="">Anyswap
          </a>
        </li>
        <li>
          <a target="_blank" href="https://depth.fi/">
            <img src="/assets/images/home/exchanges/depth.png" alt="">Depth
          </a>
        </li>
        <li>
          <a target="_blank" href="https://www.chocoswap.org/">
            <img src="/assets/images/home/exchanges/chocoswap.png" alt="">Chocoswap
          </a>
        </li>
      </ul>
      <ul class="col col5"></ul>
    </div>
  </div>
</section>
<section class="content price">
  <div class="wrapper">
    <div class="desc">
      <p class="desc-title">{{ "feature1Title" | translate: lang }}</p>
      <p><img class="dot" src="/assets/images/home/dot.png" alt="">{{ "feature1Detail1" | translate: lang }}</p>
      <p><img class="dot" src="/assets/images/home/dot.png" alt="">{{ "feature1Detail2" | translate: lang }}</p>
      <p><img class="dot" src="/assets/images/home/dot.png" alt="">{{ "feature1Detail3" | translate: lang }}</p>
    </div>
    <ng-lottie class="animate" [options]="options"></ng-lottie>
  </div>
</section>
<section class="content exchange-click">
  <div class="wrapper">
    <img class="exchange" src="/assets/images/home/exchange.gif" alt="">
    <div class="desc">
      <p class="desc-title">{{ "feature2Title" | translate: lang }}</p>
      <p><img class="dot" src="/assets/images/home/dot.png" alt="">{{ "feature2Detail1" | translate: lang }}</p>
      <p><img class="dot" src="/assets/images/home/dot.png" alt="">{{ "feature2Detail2" | translate: lang }}</p>
      <p><img class="dot" src="/assets/images/home/dot.png" alt="">{{ "feature2Detail3" | translate: lang }}</p>
    </div>
  </div>
</section>
<section class="content roadmap">
  <div class="wrapper">
    <p class="sub-title">Roadmap</p>
    <div class="roadmap-bg">
      <div class="roadmap-content">
        <div class="time time1" (mouseenter)="enterRoadmap(0)" (mouseleave)="leaveRoadmap()"
          [ngClass]="{active: roadmapIndex===0}">
          <img src="/assets/images/home/roadmap-dot.png" alt="">
          <p class="name">2021 Q1</p>
          <div class="desc">
            <p>1. {{ "roadmapQ1Detail1" | translate: lang }}</p>
            <p>2. {{ "roadmapQ1Detail2" | translate: lang }}</p>
            <p>3. {{ "roadmapQ1Detail3" | translate: lang }}</p>
          </div>
        </div>
        <div class="time time2" (mouseenter)="enterRoadmap(1)" (mouseleave)="leaveRoadmap()"
          [ngClass]="{active: roadmapIndex===1}">
          <img src="/assets/images/home/roadmap-dot.png" alt="">
          <p class="name">2021 Q2-Q3</p>
          <div class="desc">
            <p>1. {{ "roadmapQ2Q3Detail1" | translate: lang }}</p>
            <p>2. {{ "roadmapQ2Q3Detail2" | translate: lang }}</p>
            <p>3. {{ "roadmapQ2Q3Detail3" | translate: lang }}</p>
            <p>4. {{ "roadmapQ2Q3Detail4" | translate: lang }}</p>
          </div>
        </div>
        <div class="time time3" (mouseenter)="enterRoadmap(2)" (mouseleave)="leaveRoadmap()"
          [ngClass]="{active: roadmapIndex===2}">
          <img src="/assets/images/home/roadmap-dot.png" alt="">
          <p class="name">2021 Q4</p>
          <div class="desc">
            <p>1. {{ "roadmapQ4Detail1" | translate: lang }}</p>
            <p>2. {{ "roadmapQ4Detail2" | translate: lang }}</p>
          </div>
        </div>
        <div class="time time4" (mouseenter)="enterRoadmap(3)" (mouseleave)="leaveRoadmap()"
          [ngClass]="{active: roadmapIndex===3}">
          <img src="/assets/images/home/roadmap-dot.png" alt="">
          <p class="name">2022</p>
          <div class="desc">
            <p>1. {{ "roadmap2022Detail1" | translate: lang }}</p>
            <p>2. {{ "roadmap2022Detail2" | translate: lang }}</p>
            <p>3. {{ "roadmap2022Detail3" | translate: lang }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- <section class="content activities">
    <p class="sub-title">Activities</p>
    <div class="activities-content">
      <div class="row">
        <div class="activity" [ngClass]="{page: enterActiviteFirst===false}" (mouseenter)="enterActiviteFirst=true"
          (mouseleave)="enterActiviteFirst=false">
          <p class="title">Added multi currency support</p>
          <p class="desc">Release ETH Swap.Publish O3 SWAP white paper and economic model.Release OST (O3 SWAP
            token), Release DAO</p>
        </div>
        <div class="activity" [ngClass]="{page: enterActiviteFirst===true}">
          <p class="title">Added multi currency support</p>
          <p class="desc">Release ETH Swap.Publish O3 SWAP white paper and economic model.Release OST (O3 SWAP
            token), Release DAO</p>
        </div>
        <div class="activity">
          <p class="title">Added multi currency support</p>
          <p class="desc">Release ETH Swap.Publish O3 SWAP white paper and economic model.Release OST (O3 SWAP
            token), Release DAO</p>
        </div>
      </div>
      <div class="row">
        <div class="activity">
          <p class="title">Added multi currency support</p>
          <p class="desc">Release ETH Swap.Publish O3 SWAP white paper and economic model.Release OST (O3 SWAP
            token), Release DAO</p>
        </div>
        <div class="activity" [ngClass]="{page: enterActiviteLast===true}">
          <p class="title">Added multi currency support</p>
          <p class="desc">Release ETH Swap.Publish O3 SWAP white paper and economic model.Release OST (O3 SWAP
            token), Release DAO</p>
        </div>
        <div class="activity" [ngClass]="{page: enterActiviteLast===false}" (mouseenter)="enterActiviteLast=true"
          (mouseleave)="enterActiviteLast=false">
          <p class="title">Added multi currency support</p>
          <p class="desc">Release ETH Swap.Publish O3 SWAP white paper and economic model.Release OST (O3 SWAP
            token), Release DAO</p>
        </div>
      </div>
    </div>
  </section> -->
<section class="content o3wallet">
  <div class="wrapper">
    <img class="logo" src="/assets/images/home/o3wallet-logo.png" alt="">
    <div class="left">
      <p class="title">O3 Wallet</p>
      <p class="desc">A multi-chain crypto wallet. Manage your assets simply and safely</p>
    </div>
    <a target="_blank" href="https://o3.network/#download"><button class="download">Download</button></a>
    <img class="screenshot" src="/assets/images/home/o3wallet-screenshot.png" alt="">
  </div>
</section>
<section class="content partners">
  <div class="wrapper">
    <p class="sub-title center">Partners</p>
    <div class="partners-group">
      <a target="_blank" href="https://www.binance.org/en/smartChain">
        <img src="/assets/images/home/partners-bsc.png" alt="">
      </a>
      <a target="_blank" href="https://neo.org/">
        <img src="/assets/images/home/partners-neo.png" alt="">
      </a>
      <a target="_blank" href="https://www.hecochain.com/en-us/">
        <img src="/assets/images/home/partners-heco.png" alt="">
      </a>
      <a target="_blank" href="https://www.poly.network/">
        <img src="/assets/images/home/partners-poly.png" alt="">
      </a>
    </div>
  </div>
</section>
<footer>
  <div class="subscript">
    <p class="title">Receive our Newsletter</p>
    <div class="email">
      <input type="email" [(ngModel)]="email" placeholder="Please fill in your email address">
      <button (click)="subscriptNews()" class="submit">Subscribe</button>
    </div>
  </div>
  <div class="contacts">
    <a target="_blank" href="https://twitter.com/O3_Labs">
      <img src="/assets/images/home/contact-twitter.png" alt="">
    </a>
    <a target="_blank" href="https://t.me/O3Community">
      <img src="/assets/images/home/contact-telegram.png" alt="">
    </a>
    <a target="_blank" href="https://medium.com/o3-labs-o3-wallet">
      <img src="/assets/images/home/contact-medium.png" alt="">
    </a>
    <a target="_blank" href="mailto:contact@o3swap.com">
      <img src="/assets/images/home/contact-email.png" alt="">
    </a>
  </div>
  <div class="bottom">
    <img src="/assets/images/home/footer-logo.png" alt="">
    <p class="copyright">© {{ copyRightYear }} O3 Labs Inc.</p>
    <!-- <p class="language">
        <span [ngClass]="{active: lang==='en'}" (click)="changeLang('en')">EN</span>
        <span class="line">|</span>
        <span [ngClass]="{active: lang==='zh'}" (click)="changeLang('zh')">CN</span>
      </p> -->
    <p class="doc" nz-tooltip nzTooltipTitle="Coming soon..." nzTooltipPlacement="top">Doc</p>
    <!-- <a href="https://docs.o3swap.com/" target="_blank">
        <p class="doc">Doc</p>
      </a> -->
  </div>
</footer>
