<section class="content home">
  <p class="title">
    O3 Swap
    <img class="o3swap" src="/assets/images/home/o3swap.png" alt="">
  </p>
  <p class="desc">Cross-chain</p>
  <p class="desc">Aggregation Protocol</p>
  <img class="exchange" src="/assets/images/home/exchange.gif" alt="">
  <p class="sub-title">Features</p>
</section>
<article class="wrapper">
  <section class="content features">
    <div class="features-group">
      <div class="feature-item">
        <img src="/assets/images/home/features-1.png" alt="">
        <p class="title">Liquidity Aggregation</p>
        <p class="desc">By connecting crypto wallets to exchange for asset liquidity prices on different chains.</p>
      </div>
      <div class="feature-item">
        <img src="/assets/images/home/features-2.png" alt="">
        <p class="title">Cross-chain Exchange</p>
        <p class="desc">Based on mature and potential cross-chain solutions in the market, wrap and exchange your
          assets securely.</p>
      </div>
      <div class="feature-item">
        <img src="/assets/images/home/features-3.png" alt="">
        <p class="title">Token Incentive</p>
        <p class="desc">O3 Swap provides a mining mechanism. Each transaction can obtain the locked token as a
          trading
          reward.</p>
      </div>
    </div>
  </section>
  <section class="content roadmap">
    <div class="roadmap-wrapper">
      <p class="sub-title">Roadmap</p>
      <div class="roadmap-bg">
        <div class="roadmap-content">
          <div class="time time1" (mouseenter)="enterRoadmap(0)" (mouseleave)="leaveRoadmap()"
            [ngClass]="{active: roadmapIndex===0}">
            <img src="/assets/images/home/roadmap-dot.png" alt="">
            <p class="name">Q1</p>
            <div class="desc">
              <p>1. Launch the website. Publish the light paper</p>
              <p>2. Release Neo Swap</p>
              <p>3. Release cross-chain Swap</p>
            </div>
          </div>
          <div class="time time2" (mouseenter)="enterRoadmap(1)" (mouseleave)="leaveRoadmap()"
            [ngClass]="{active: roadmapIndex===1}">
            <img src="/assets/images/home/roadmap-dot.png" alt="">
            <p class="name">Q2-Q3</p>
            <div class="desc">
              <p>1. Release ETH Swap</p>
              <p>2. Publish O3 SWAP white paper and economic model</p>
              <p>3. Release OST (O3 SWAP token)</p>
              <p>4. Release DAO</p>
            </div>
          </div>
          <div class="time time3" (mouseenter)="enterRoadmap(2)" (mouseleave)="leaveRoadmap()"
            [ngClass]="{active: roadmapIndex===2}">
            <img src="/assets/images/home/roadmap-dot.png" alt="">
            <p class="name">Q4</p>
            <div class="desc">
              <p>1. Release BSC Hecochain swap</p>
              <p>2. Launch the yield farming</p>
            </div>
          </div>
          <div class="time time4" (mouseenter)="enterRoadmap(3)" (mouseleave)="leaveRoadmap()"
            [ngClass]="{active: roadmapIndex===3}">
            <img src="/assets/images/home/roadmap-dot.png" alt="">
            <p class="name">2021</p>
            <div class="desc">
              <p>1. Release V2. Support instant quote and pending order trading</p>
              <p>2. Launch cross-chain 2.0</p>
              <p>3. Release layer2 aggregation protocol</p>
            </div>
          </div>
          <div class="time time5" (mouseenter)="enterRoadmap(4)" (mouseleave)="leaveRoadmap()"
            [ngClass]="{active: roadmapIndex===4}">
            <img src="/assets/images/home/roadmap-dot.png" alt="">
            <p class="name">2022</p>
            <div class="desc">
              <p>1. Release O3.network</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="content activities">
    <p class="sub-title">Activities</p>
    <div class="activities-content">
      <div class="row">
        <div class="activity" [ngClass]="{page: enterActiviteFirst===false}" (mouseenter)="enterActiviteFirst=true"
          (mouseleave)="enterActiviteFirst=false">
          <p class="title">Added multi currency support</p>
          <p class="desc">Release ETH Swap.Publish O3 SWAP white paper and economic model.Release OST (O3 SWAP
            token), Release DAO</p>
        </div>
        <div class="activity" [ngClass]="{page: enterActiviteFirst===true}">
          <p class="title">Added multi currency support</p>
          <p class="desc">Release ETH Swap.Publish O3 SWAP white paper and economic model.Release OST (O3 SWAP
            token), Release DAO</p>
        </div>
        <div class="activity">
          <p class="title">Added multi currency support</p>
          <p class="desc">Release ETH Swap.Publish O3 SWAP white paper and economic model.Release OST (O3 SWAP
            token), Release DAO</p>
        </div>
      </div>
      <div class="row">
        <div class="activity">
          <p class="title">Added multi currency support</p>
          <p class="desc">Release ETH Swap.Publish O3 SWAP white paper and economic model.Release OST (O3 SWAP
            token), Release DAO</p>
        </div>
        <div class="activity" [ngClass]="{page: enterActiviteLast===true}">
          <p class="title">Added multi currency support</p>
          <p class="desc">Release ETH Swap.Publish O3 SWAP white paper and economic model.Release OST (O3 SWAP
            token), Release DAO</p>
        </div>
        <div class="activity" [ngClass]="{page: enterActiviteLast===false}" (mouseenter)="enterActiviteLast=true"
          (mouseleave)="enterActiviteLast=false">
          <p class="title">Added multi currency support</p>
          <p class="desc">Release ETH Swap.Publish O3 SWAP white paper and economic model.Release OST (O3 SWAP
            token), Release DAO</p>
        </div>
      </div>
    </div>
  </section>
  <section class="content newsletter">
    <div class="newsletter-content">
      <p class="sub-title">Receive our Newsletter</p>
      <p class="desc">sign up to receive updates and announcements</p>
      <div class="email-content">
        <input type="email" placeholder="Please fill in your email address">
        <button>Sign up</button>
      </div>
      <img class="newsletter" src="/assets/images/home/newsletter.png" alt="">
    </div>
  </section>
</article>
