<nz-modal [nzVisible]="show" (nzOnCancel)="close()" [nzFooter]="null" [nzClosable]="false" [nzTitle]="null"
  nzClassName="custom-modal connect-wallet-modal">
  <ng-template nzModalContent>
    <div class="connect-modal-content modal-content">
      <div class="close-group">
        <img (click)="close()" class="close" src="/assets/images/swap/close.png" alt="">
      </div>
      <p class="title">Connect wallet</p>
      <div class="chains">
        <span class="eth" [ngClass]="{active: connectChainType==='ETH'}" (click)="connectChainType='ETH'"></span>
        <span class="bsc" [ngClass]="{active: connectChainType==='BSC'}" (click)="connectChainType='BSC'"></span>
        <span class="heco" [ngClass]="{active: connectChainType==='HECO'}" (click)="connectChainType='HECO'"></span>
        <!-- <span class="neo" [ngClass]="{active: connectChainType==='NEO'}" (click)="connectChainType='NEO'"></span> -->
      </div>
      <p class="wallet-type">{{ connectChainType }} Wallet</p>
      <!-- <app-wallet-connect-item *ngIf="connectChainType==='NEO'" [chain]="connectChainType" [walletList]="NEO_WALLETS"
        [walletAddress]="vaultWallet?.address" [walletName]="vaultWallet?.walletName" [walletChain]="vaultWallet?.chain"
        (connect)="connectNeoWallet($event)">
      </app-wallet-connect-item> -->
      <app-wallet-connect-item *ngIf="connectChainType==='ETH'" [chain]="connectChainType" [walletList]="ETH_WALLETS"
        [walletAddress]="vaultWallet?.address" [walletName]="vaultWallet?.walletName" [walletChain]="vaultWallet?.chain"
        (connect)="connectEthWallet($event)">
      </app-wallet-connect-item>
      <app-wallet-connect-item *ngIf="connectChainType==='BSC'" [chain]="connectChainType" [walletList]="BSC_WALLETS"
        [walletAddress]="vaultWallet?.address" [walletName]="vaultWallet?.walletName" [walletChain]="vaultWallet?.chain"
        (connect)="connectEthWallet($event)">
      </app-wallet-connect-item>
      <app-wallet-connect-item *ngIf="connectChainType==='HECO'" [chain]="connectChainType" [walletList]="HECO_WALLETS"
        [walletAddress]="vaultWallet?.address" [walletName]="vaultWallet?.walletName" [walletChain]="vaultWallet?.chain"
        (connect)="connectEthWallet($event)">
      </app-wallet-connect-item>
    </div>
  </ng-template>
</nz-modal>
