section.select-token-wrapper {
  .input-token-error {
    position: absolute;
    top: 91px;
    left: 50%;
    margin-left: -150px;
    width: 300px;
    min-height: 50px;
    background: #cd4242b3;
    border-radius: 10px;
    font-family: "fontRegular";
    text-align: center;
    line-height: 20px;
    padding: 15px 5px;
    z-index: 99;
  }
  .token-select-content {
    margin-top: 50px;
    height: 260px;
    background: #2a2a2a;
    border: 1px solid #ffffff0d;
    border-radius: 20px;
    position: relative;
    img.token-exchange {
      position: absolute;
      top: 108px;
      left: 60px;
      width: 44px;
      cursor: pointer;
    }
    .token-select-item {
      height: 130px;
      padding: 0 25px;
      .row1 {
        height: 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 16px;
        color: #8aa1a1;
        .right {
          display: inline-flex;
          font-size: 14px;
          span.from-amount {
            display: inline-block;
            max-width: 150px;
            word-break: break-all;
          }
          .all {
            color: #6162ef;
            margin-left: 10px;
          }
        }
      }
      .row2 {
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .token-select {
          width: 200px;
          display: inline-flex;
          align-items: center;
          cursor: pointer;
          color: #fff;
          &.no-selected {
            color: #4a4a4a;
          }
          img.logo {
            max-width: 36px;
            max-height: 36px;
            margin-right: 11px;
          }
          .name {
            font-size: 20px;
          }
          img.arrow {
            width: 12px;
            margin-left: 14px;
          }
        }
        input {
          text-align: right;
          min-width: 100px;
          height: 36px;
          font-size: 24px;
          background: none;
          border: none;
          color: #fff;
          &::placeholder {
            color: #4a4a4a;
          }
        }
      }
      .from-fiat {
        text-align: right;
        color: #4a4a4a;
        margin-top: 2px;
      }
      &.from {
        padding-top: 25px;
      }
      &.to {
        background: #303030;
        border-radius: 20px;
        padding-top: 38px;
        .row2 .token-select {
          width: 100%;
        }
      }
    }
  }
  .receive {
    margin-top: 20px;
    height: 210px;
    padding: 20px;
    background: #303030;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    .receive-title {
      position: absolute;
      top: 20px;
      left: 25px;
      font-size: 16px;
    }
    &.content-border-active {
      .receive-amount {
        color: #46b069;
      }
      .receive-fiat {
        color: #fff;
      }
      img.next {
        display: block;
      }
      button.confirm {
        display: none;
      }
    }
    .receive-amount,
    .receive-fiat {
      color: #4a4a4a;
      text-align: center;
    }
    .receive-amount {
      font-size: 24px;
      line-height: 30px;
    }
    .receive-fiat {
      font-size: 14px;
      margin-top: 11px;
      font-family: "fontRegular";
    }
    button.confirm {
      width: 100%;
      margin-top: 20px;
      opacity: 0.5;
      cursor: default;
      &.active {
        cursor: pointer;
        opacity: 1;
      }
    }
    img.next {
      width: 60px;
      display: none;
      cursor: pointer;
      margin-top: 10px;
    }
  }
}
