<section class="wrapper modal-content">
  <div class="close-group">
    <img (click)="close()" class="close" src="/assets/images/swap/close.png" alt="">
  </div>
  <p class="title">Choose</p>
  <div class="search">
    <input type="text" (focus)="isfocusSearchInput=true" (blur)="isfocusSearchInput=false"
      [ngClass]="{focus: isfocusSearchInput}" (input)="search($event)" placeholder="Search token name">
  </div>
  <div class="chains">
    <img (click)="changeChain('ALL')" [ngClass]="{active: chain==='ALL', disable: isFrom}"
      src="/assets/images/chains/all.png" alt="">
    <img (click)="changeChain('ETH')" [ngClass]="{active: chain==='ETH', disable: isFrom || showOnlyNNeo}"
      src="/assets/images/chains/eth.png" alt="">
    <img (click)="changeChain('NEO')" [ngClass]="{active: chain==='NEO'}" src="/assets/images/chains/neo.png" alt="">
    <!-- <img src="/assets/images/chains/bsc.png" alt="">
    <img src="/assets/images/chains/heco.png" alt=""> -->
  </div>
  <ul class="tokens scroll">
    <li class="token" *ngFor="let tokenItem of displayTokens"
      [ngClass]="{active: activeToken?.assetID===tokenItem?.assetID}" (click)="selectThisToken(tokenItem)">
      <img [src]="tokenItem?.logo" alt="">
      <span class="name flex-1">{{ tokenItem?.symbol }}</span>
      <span class="amount">{{ tokenItem?.amount | number: '1.0-8' }}</span>
    </li>
  </ul>
</section>
