<section class="page-container">
  <div class="detail">
    <div class="item-container row-1">
      <div class="item-group item-total">
        <div class="group-title">Available</div>
        <div class="group-content">9.31673761 O3</div>
        <div class="group-title">Available</div>
      </div>
      <div class="item-group">
        <div class="group-title">Available</div>
        <div class="group-content">9.31673761 O3</div>
        <div class="btn-primary receive-btn">Receive</div>
      </div>
      <div class="item-group">
        <div class="group-title">To be unlocked</div>
        <div class="group-content">9.31673761 O3</div>
        <div class="group-icon">
          <img nz-tooltip nzTooltipTitle="Coming soon..." nzTooltipPlacement="right" src="/assets/images/dashboard/doubt.png" alt="">
        </div>
      </div>
    </div>
    <div class="item-container row-2">
      <div class="list-container">
        <div class="list-head">
          <div class="list-head-title">Unlock zone</div>
          <div class="list-head-right">
            <div class="name">Unlocked amount: </div>
            9.31673761 O3
            <div class="name">Speed value: </div>
            8.60
          </div>
        </div>
        <div class="tran-list">
          <div class="row-head">
            <div class="col"></div>
            <div class="col">Name</div>
            <div class="col">Staked</div>
            <div class="col">Remaining</div>
            <div class="col">Release value</div>
            <div class="col">APY%</div>
            <div class="col"></div>
            <div class="col"></div>
          </div>
          <div class="warpper">
            <div class="row">
              <div class="col"><img class="token-img" src="" alt=""></div>
              <div class="col">Name</div>
              <div class="col">Staked</div>
              <div class="col">Remaining</div>
              <div class="col">Release value</div>
              <div class="col">APY%</div>
              <div class="col">
                <div class="btn-primary">
                  Stake
                </div>
              </div>
              <div class="col">
                <div class="btn-primary unstake-btn">
                  Unstake
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="item-container row-2">
      <div class="left">
        <div class="title">
          <div class="name">
            LP Staking
          </div>
        </div>
        <div class="group-container">
          <div class="item-group">
            <div class="item-group-title">
              <div class="token"><img src="" alt="">pnUNI_V2_ETH_WBTC</div>
              <div class="right">
                <div class="btn-primary">Stake</div>
                <div class="btn-primary unstake-btn">Unstake</div>
              </div>
            </div>
            <div class="detail-item">
              <div class="col">
                <div class="value">9.31673761</div>
                <div class="name">Staked</div>
              </div>
              <div class="col">
                <div class="value">9.31673761</div>
                <div class="name">Remaining</div>
              </div>
              <div class="col">
                <div class="value">9.31673761</div>
                <div class="name">Total Staking</div>
              </div>
              <div class="col">
                <div class="value">9.31673761</div>
                <div class="name">APY%</div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="right">
        <div class="title">
          <div class="name">
            O3 Staking
          </div>
        </div>
        <div class="group-container">
          <div class="item-group">
            <div class="name">
              <img src="" alt="" class="token-img">
              pnUSDT
            </div>
            <div class="detail-container">
              <div class="detail-item">
                <div class="value">9.31673761</div>
                <div class="name">Total Staking</div>
              </div>
              <div class="detail-item">
                <div class="value">9.31673761</div>
                <div class="name">APY%</div>
              </div>
            </div>
            <div class="stake">
              <span>Stake</span>
              <span>Unstake</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
