section.choose-token-wrapper {
  input {
    width: 100%;
    height: 60px;
    background: #353535;
    border: 1px solid #353535;
    border-radius: 10px;
    margin-top: 62px;
    padding: 0 39px;
    border: none;
    color: #fff;
    font-size: 18px;
    &::placeholder {
      color: #4a4a4a;
    }
    &.focus {
      background: #2b312d;
      border: 1px solid #46b069;
    }
  }
  .chains {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 420px;
    width: 90px;
    z-index: 9999;
    background: #222222;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    padding: 6px 24px;
    img {
      width: 40px;
      margin-top: 24px;
      border-radius: 10px;
      opacity: 0.2;
      border-radius: 50%;
      &.active {
        opacity: 1;
      }
    }
  }
  ul.tokens {
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
    height: 380px;
    font-size: 18px;
    overflow-y: scroll;
    li.token {
      padding-left: 110px;
      padding-right: 40px;
      height: 66px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;
      &:hover,
      &.active {
        background: #303030;
      }
      .amount {
        font-family: "fontRegular";
      }
      img {
        max-width: 36px;
        max-height: 36px;
        margin-right: 15px;
      }
    }
  }
}
