<section class="wrapper choose-token-wrapper">
  <p class="title">Choose</p>
  <input type="text" (keyup.enter)="search($event)" placeholder="Search">
  <div class="chains">
    <img src="/assets/images/tokens/eth.png" alt="">
    <img class="active" src="/assets/images/tokens/neo.png" alt="">
    <img src="/assets/images/tokens/bsc.png" alt="">
    <img src="/assets/images/tokens/heco.png" alt="">
  </div>
  <ul class="tokens">
    <li class="token" *ngFor="let tokenItem of displayTokens" [ngClass]="{active: activeToken?.assetID===tokenItem?.assetID}"
      (click)="selectThisToken(tokenItem)">
      <img [src]="tokenItem?.logo" alt="">
      <span class="name flex-1">{{ tokenItem?.symbol }}</span>
      <span class="amount">{{ tokenItem?.amount }}</span>
    </li>
  </ul>
  <div class="setting-group">
    <img (click)="backToHomePage()" class="close" src="/assets/images/swap/close.png" alt="">
  </div>
</section>
