.page-container {
  .row1 {
    margin-top: 40px !important;
  }
  .group-container {
    position: relative;
    padding: 50px 40px 68px;
    margin: auto;
    width: 1000px;
    background: #1e1e1e;
    border-radius: 20px;
    .token-select-container {
      margin-bottom: 20px;
      position: relative;
      display: flex;
      border-radius: 20px;
      background-color: #2a2a2a;
      span.token-type {
        margin-left: 4px;
        height: 18px;
        line-height: 18px;
        padding: 0 3px;
        border-radius: 4px;
        font-size: 10px;
        &.ETH {
          background: #459ffb1a;
          color: #459ffb;
        }
        &.BSC {
          background: #f0b90b1a;
          color: #f0b90b;
        }
        &.HECO {
          color: #008cd6;
          background: #008cd61a;
        }
      }
      img.transform {
        position: absolute;
        top: 50%;
        right: 50%;
        width: 45px;
        height: 45px;
        cursor: pointer;
        transform: translate(50%, -50%) rotate(90deg);
      }
      .left-container,
      .right-container {
        width: 50%;
        padding: 25px 0;
        padding-left: 30px;
        padding-right: 50px;
        flex: 1;
        height: 140px;
        .header {
          display: flex;
          justify-content: space-between;
          color: #8aa1a1;
          span.max {
            color: #6162ef;
            cursor: pointer;
          }
        }
        .content {
          display: flex;
          align-items: center;
          margin-top: 8px;
          div.token-name {
            z-index: 99;
            display: flex;
            align-items: center;
            font-size: 18px;
            color: #4a4a4a;
            cursor: pointer;
            width: 180px;
            height: 52px;
            transform: translateX(-20px);
            padding-left: 20px;
            border-radius: 10px;
            position: relative;
            ul.dropdown {
              position: absolute;
              top: 57px;
              left: 0;
              width: 180px;
              background: #353535;
              border: 1px solid #353535;
              border-radius: 10px;
              li {
                height: 52px;
                line-height: 52px;
                padding-left: 15px;
                font-size: 18px;
                display: flex;
                align-items: center;
                color: #dee1e1;
                img {
                  width: 32px;
                  height: 32px;
                  margin-right: 10px;
                }
                &:hover {
                  color: #46b069;
                }
              }
            }
            &:hover {
              background: #46b0691a;
              color: #fff;
            }
            &.active {
              color: #fff;
            }
            img.arrow {
              width: 12px;
              margin-left: 14px;
            }
            img.token-logo {
              margin-right: 16px;
              width: 32px;
            }
          }
          .token-amount {
            width: 250px;
            flex: 1;
            text-align: right;
            font-size: 22px;
          }
        }
        .asset {
          text-align: right;
          color: #4a4a4a;
        }
      }
      .right-container {
        padding-left: 50px;
        padding-right: 30px;
        background: #303030;
        border-radius: 20px;
        .content .token-amount {
          color: #8aa1a1;
        }
      }
    }
    .detail {
      display: flex;
      .address {
        display: inline-flex;
        width: 220px;
        img {
          width: 14px;
          margin-left: 8px;
          margin-right: 4px;
        }
      }
      color: #8aa1a1;
      span {
        color: #46b069;
      }
      &:not(:first-child) {
        margin-top: 8px;
      }
    }
    .big-btn,
    .btn-group {
      position: absolute;
      bottom: -10px;
      left: 50%;
      transform: translate(-50%);
    }
    .btn-group {
      button {
        width: 180px;
        height: 60px;
        background: #46b069;
        border-radius: 20px;
        border: none;
        font-size: 18px;
        color: #fff;
        cursor: pointer;
        &.approve {
          background: #6162ef;
        }
        &:first-child {
          margin-right: 20px;
        }
        &.disable {
          background: #353535;
          color: #4a4a4a;
          pointer-events: none;
          cursor: default;
        }
      }
    }
    .swap-btn {
      z-index: 1;
      opacity: 0.5;
      cursor: default;
      pointer-events: none;
      &.active {
        cursor: pointer;
        opacity: 1;
        pointer-events: auto;
      }
    }
  }
  .pool {
    padding: 30px 30px;
    .header {
      height: 30px;
      font-size: 20px;
      font-weight: 600;
      color: #ffffff;
      line-height: 30px;
    }
    .group-item {
      margin-top: 15px;
      padding: 0 40px;
      width: 940px;
      background: #252525;
      border-radius: 20px;
      .pool-detail {
        padding: 24px 0;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #353535;
        .list {
          display: flex;
          .item {
            width: 150px;
            .value {
              height: 36px;
              line-height: 36px;
            }
            .name {
              color: #8aa1a1;
            }
          }
        }
        .right {
          display: flex;
          .deposit-btn {
            margin-right: 17px;
          }
        }
      }
      .token-detail {
        display: flex;
        align-items: center;
        height: 56px;
        .token-logo {
          margin-right: 13px;
          width: 26px;
          height: 26px;
          background: #ffffff;
          border-radius: 50%;
        }
        .token-name {
          color: #8aa1a1;
          font-size: 14px;
          color: #46b069;
          span {
            height: 28px;
            line-height: 28px;
            color: #8aa1a1;
          }
        }
      }
    }
  }
  .input-container {
    display: flex;
    align-items: center;
    flex: 1;
    text-align: right;
    font-size: 22px;
    border-radius: 10px;
    input {
      width: 100%;
      height: 30px;
      border: none;
      color: #fff;
      text-align: right;
      &::placeholder {
        color: #4a4a4a;
      }
      &.focus {
        background: #2b312d;
        border: 1px solid #46b069;
      }
    }
  }
}
