.page-container {
  .row1 {
    margin-top: 40px !important;
  }
  .group-container {
    position: relative;
    padding: 50px 40px 68px;
    margin: auto;
    width: 1000px;
    background: #1e1e1e;
    border-radius: 20px;
    .token-select-container {
      margin-bottom: 20px;
      position: relative;
      display: flex;
      border-radius: 20px;
      background-color: #2a2a2a;
      img.transform {
        position: absolute;
        top: 50%;
        right: 50%;
        width: 45px;
        height: 45px;
        cursor: pointer;
        transform: translate(50%, -50%) rotate(90deg);
      }
      .left-container,
      .right-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 25px 0;
        padding-left: 30px;
        padding-right: 50px;
        flex: 1;
        height: 140px;
        .header {
          display: flex;
          justify-content: space-between;
          color: #8aa1a1;
          span {
            color: #6162ef;
            cursor: pointer;
          }
        }
        .content {
          display: flex;
          align-items: center;

          div.token-name {
            font-size: 18px;
            color: #4a4a4a;
            &.active {
              color: #fff;
            }
            img.arrow {
              width: 12px;
              margin-left: 14px;
            }
            img.token-logo {
              margin-right: 10px;
              width: 32px;
            }
          }
          .token-amount {
            width: 250px;
            height: 60px;
            flex: 1;
            text-align: right;
            font-size: 22px;
            line-height: 60px;
          }
        }
        .asset {
          text-align: right;
          color: #4a4a4a;
        }
      }
      .right-container {
        padding-left: 50px;
        padding-right: 30px;
        background: #303030;
        border-radius: 20px;
        .content .token-amount {
          color: #8aa1a1;
        }
      }
    }
    .detail {
      color: #8aa1a1;
      span {
        color: #46b069;
      }
      &:nth-child(3) {
        margin: 5px 0;
      }
    }
    .big-btn {
      position: absolute;
      bottom: -10px;
      left: 50%;
      transform: translate(-50%);
    }
    .swap-btn {
      opacity: 0.5;
      cursor: default;
      pointer-events: none;
      &.active {
        cursor: pointer;
        opacity: 1;
        pointer-events: auto;
      }
    }
  }
  .pool {
    padding: 30px 30px;
    .header {
      height: 30px;
      font-size: 20px;
      font-weight: 600;
      color: #ffffff;
      line-height: 30px;
    }
    .group-item {
      margin-top: 15px;
      padding: 0 40px;
      width: 940px;
      background: #252525;
      border-radius: 20px;
      .pool-detail {
        padding: 24px 0;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #353535;
        .list {
          display: flex;
          .item {
            width: 150px;
            .value {
              height: 36px;
              line-height: 36px;
            }
            .name {
              color: #8aa1a1;
            }
          }
        }
        .right {
          display: flex;
          .deposit-btn {
            margin-right: 17px;
          }
        }
      }
      .token-detail {
        display: flex;
        align-items: center;
        height: 56px;
        .token-logo {
          margin-right: 13px;
          width: 26px;
          height: 26px;
          background: #ffffff;
          border-radius: 50%;
        }
        .token-name {
          color: #8aa1a1;
          font-size: 14px;
          color: #46b069;
          span {
            height: 28px;
            line-height: 28px;
            color: #8aa1a1;
          }
        }
      }
    }
  }
  .input-container {
    display: flex;
    align-items: center;
    height: 60px;
    flex: 1;
    text-align: right;
    font-size: 22px;
    border-radius: 10px;
    input {
      width: 100%;
      height: 30px;
      border: none;
      color: #fff;
      text-align: right;
      &::placeholder {
        color: #4a4a4a;
      }
      &.focus {
        background: #2b312d;
        border: 1px solid #46b069;
      }
    }
  }
}
