<section class="page-container">
  <div class="group-container row1">
    <div class="token-select-container">
      <div class="left-container">
        <div class="header">
          <div class="left">
            You pay<span *ngIf="fromToken" class="token-type" [ngClass]="fromToken?.chain">{{ fromToken.type }}</span>
          </div>
          <div class="right">Balance: {{ (fromToken?.amount | transNumber) || '0' }}
            {{ fromToken?.symbol }}
            <span class="max" (click)="allInputAmount()">Max</span></div>
        </div>
        <div class="content">
          <div class="token-name" [ngClass]="{active: fromToken?.symbol}" (mouseenter)="showTokenListModal('from')"
            (mouseleave)="hideTokenListModal('from')">
            <img *ngIf="fromToken?.logo" [src]="fromToken?.logo" alt="" class="token-logo">
            {{ fromToken?.symbol || 'SELECT' }}
            <img src="/assets/images/swap/arrow-down.png" alt="" class="arrow">
            <ul *ngIf="showFromTokenList" class="dropdown" (mouseenter)="showTokenListModal('from')"
              (mouseleave)="hideTokenListModal('from')">
              <li *ngFor="let token of USD_TOKENS" (click)="selectToken('from', token)">
                <img [src]="token.logo" alt="">
                <span>{{ token.symbol }}</span>
                <span class="token-type" [ngClass]="token.chain">{{ token.type }}</span>
              </li>
            </ul>
          </div>
          <div class="input-container">
            <input type="number" (input)="changeInputAmount($event)" [ngModel]="inputAmount" placeholder="0">
          </div>
        </div>
        <div class="asset">≈ $ {{ inputAmountFiat || '0.00' }}</div>
      </div>
      <img class="transform" (click)="exchangeToken()" src="/assets/images/swap/exchange-home.png" alt="">
      <div class="right-container">
        <div class="header">
          <div class="left">
            You will receive<span *ngIf="toToken" class="token-type"
              [ngClass]="toToken?.chain">{{ toToken.type }}</span>
          </div>
        </div>
        <div class="content">
          <div class="token-name" [ngClass]="{active: toToken?.symbol}" (mouseenter)="showTokenListModal('to')"
            (mouseleave)="hideTokenListModal('to')">
            <img *ngIf="toToken?.logo" [src]="toToken?.logo" alt="" class="token-logo">
            {{ toToken?.symbol || 'SELECT' }}
            <img src="/assets/images/swap/arrow-down.png" alt="" class="arrow">
            <ul *ngIf="showToTokenList" class="dropdown" (mouseenter)="showTokenListModal('to')"
              (mouseleave)="hideTokenListModal('to')">
              <li *ngFor="let token of USD_TOKENS" (click)="selectToken('to', token)">
                <img [src]="token.logo" alt="">
                <span>{{ token.symbol }}</span>
                <span class="token-type" [ngClass]="token.chain">{{ token.type }}</span>
              </li>
            </ul>
          </div>
          <div class="token-amount">{{ (receiveAmount | transNumber) || 0 }}</div>
        </div>
        <div class="asset">≈ $ {{ receiveAmountFiat || '0.00' }}</div>
      </div>
    </div>
    <p class="detail">Exchange Rate {{ toToken?.symbol || '--' }}/{{ fromToken?.symbol || '--' }} (including fees):
      <span>{{ bridgeRate }}</span></p>
    <p class="detail">Max slippage: <span>{{ BRIDGE_SLIPVALUE }}%</span></p>
    <p class="detail">
      From:<span class="address">
        <img *ngIf="fromAddress && fromToken?.chain==='ETH'" src="/assets/images/swap-chains/ETH.png" alt="">
        <img *ngIf="fromAddress && fromToken?.chain==='BSC'" src="/assets/images/swap-chains/BSC.png" alt="">
        <img *ngIf="fromAddress && fromToken?.chain==='HECO'" src="/assets/images/swap-chains/HECO.png" alt="">
        {{ fromAddress | shortAddress: 10 }}
      </span>
      To:<span class="address">
        <img *ngIf="toAddress&&toToken?.chain==='ETH'" src="/assets/images/swap-chains/ETH.png" alt="">
        <img *ngIf="toAddress&&toToken?.chain==='BSC'" src="/assets/images/swap-chains/BSC.png" alt="">
        <img *ngIf="toAddress&&toToken?.chain==='HECO'" src="/assets/images/swap-chains/HECO.png" alt="">
        {{ toAddress | shortAddress: 10 }}
      </span>
    </p>
    <div class="btn-group" *ngIf="showApprove">
      <button class="btn-primary approve" nz-button [ngClass]="{disable: hasApprove===true}"
        [nzLoading]="isApproveLoading" (click)="approve()">Approve</button>
      <button class="btn-primary" [ngClass]="{disable: hasApprove===false}" (click)="swap()">Confirm</button>
    </div>
    <div *ngIf="!showApprove" class="btn-primary big-btn swap-btn" [ngClass]="{active: checkCanInquiry()}"
      (click)="swap()">Swap</div>
  </div>
  <div class="group-container row1 pool">
    <div class="header">Pool</div>
    <div class="group-item">
      <div class="pool-detail">
        <div class="list">
          <div class="item">
            <div class="value">$1,071,909,102</div>
            <div class="name">TVL</div>
          </div>
          <div class="item">
            <div class="value">$7,225,526</div>
            <div class="name">VOL</div>
          </div>
          <div class="item">
            <div class="value">66.81%</div>
            <div class="name">APR</div>
          </div>
          <div class="item">
            <div class="value">0.18%</div>
            <div class="name">DAILY</div>
          </div>
        </div>
        <div class="right">
          <div class="btn-primary deposit-btn" [routerLink]="['/hub/liquidity', 'add']">
            Deposit
          </div>
          <div class="btn-primary withdrawal-btn" [routerLink]="['/hub/liquidity', 'remove']">
            Withdrawal
          </div>
        </div>
      </div>
      <div class="token-detail">
        <img src="" alt="" class="token-logo">
        <div class="token-name">
          pUSDT <span>(pUSDT+pbUSDT+phUSDT)</span>
        </div>
      </div>
    </div>
  </div>
</section>

<app-tx-progress [txAtPage]="'bridge'"></app-tx-progress>
