<section class="wrapper setting-wrapper">
  <p class="title">Settings</p>
  <div class="setting-item">
    <p class="setting-item-title">Slippage tolerance</p>
    <div class="slip setting-item-content">
      <ul class="left">
        <li *ngFor="let slip of slipValueGroup" class="slip-item" (click)="selectSlipValue(slip)"
          [ngClass]="{active: !isCustomSlip && slipValue===slip}">{{ slip }}%</li>
      </ul>
      <input type="number" [ngClass]="{focus: isCustomSlip}" (input)="checkSlipValue()" (click)="clickCustomSlipValue()"
        [(ngModel)]="isCustomSlip && slipValue" placeholder="Custom">
      <span class="tail" *ngIf="isCustomSlip">%</span>
      <p class="slip-error">{{ slipValueError }}</p>
    </div>
  </div>
  <div class="setting-item">
    <p class="setting-item-title">Transaction time limit</p>
    <div class="setting-item-content tx-time-limit">
      <input type="number" [(ngModel)]="deadline">
      <span>&nbsp;&nbsp;min</span>
    </div>
  </div>
  <div class="setting-group">
    <img (click)="backToHomePage()" class="close" src="/assets/images/swap/close.png" alt="">
  </div>
</section>
